<section class="featured-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-12 mb-4 mb-lg-0">
        <div class="custom-block bg-white shadow-lg">
          <div class="d-flex">
            <div>
              <h5 class="mb-2 text-dark">Винаги навреме с Glamgoo.</h5>

              <p class="mb-0">
                Използвайте нашият сайт за да запазите часове...
              </p>
            </div>
          </div>

          <img
            src="assets/images/undraw_online_ad_re_ol62.png"
            class="custom-block-image img-fluid"
            alt=""
          />
        </div>
      </div>

      <div class="col-lg-6 col-12">
        <div class="custom-block custom-block-overlay">
          <div class="d-flex flex-column h-100">
            <img
              src="assets/images/social.jpg"
              class="custom-block-image img-fluid"
              alt=""
            />

            <div class="custom-block-overlay-text d-flex">
              <div>
                <h5 class="text-white mb-2">Често задавани въпроси:</h5>

                <p class="text-white">
                  Как да си създам профил? Платформата платена ли е?
                </p>
              </div>
            </div>

            <div class="section-overlay"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
