<ul class="nav nav-tabs" style="background-color: white !important">
  <li class="nav-item" style="width: 33.33%">
    <p class="nav-link text-center" id="all-res" [ngClass]="{
        active: selectedFilter == 1,
        'not-active-tab': selectedFilter != 1
      }" (click)="showBookings(1)">
      Всички
    </p>
  </li>
  <li class="nav-item" style="width: 33.33%">
    <p class="nav-link text-center" id="free-res" [ngClass]="{
        active: selectedFilter == 2,
        'not-active-tab': selectedFilter != 2
      }" (click)="showBookings(2)">
      Свободни
    </p>
  </li>
  <li class="nav-item" style="width: 33.33%">
    <p class="nav-link text-center" [ngClass]="{
        active: selectedFilter == 3,
        'not-active-tab': selectedFilter != 3
      }" id="busy-res" (click)="showBookings(3)">
      Заети
    </p>
  </li>
</ul>

<p class="alert alert-secondary m-3" role="alert" *ngIf="bookings.length == 0 && !isDayPast && isServerDown == false">
  Все още няма заети часове за {{ this.date.getDate() }}
  {{ date.toLocaleString('bg-BG', { month: 'long' }) }}
  {{ date.getFullYear() }}г.
</p>
<div class="alert alert-info text-center m-2" role="alert" *ngIf="isDayPast">
  Изминала дата, нямате право на действие.
</div>
<div class="alert alert-secondary text-center m-2" role="alert" *ngIf="bookings.length==0&&isDayPast">
  За този ден няма резервирани часове.
</div>
<div class="alert alert-warning m-4" role="alert" *ngIf="currentDay && !currentDay?.isWorking && !isDayPast">
  ПОЧИВЕН ДЕН
</div>

<!-- Display Hours -->
<div class="event-card" *ngFor="let booking of bookings">
  <!-- Render Olny Reserved Hours -->
  <div *ngIf="booking.bookingId">
    <mat-accordion>
      <mat-expansion-panel class="event-expansion-panel" hideToggle>
        <mat-expansion-panel-header class="reservation-container">
          <mat-panel-title>
            {{ booking.timestamp | date : 'HH:mm' }} ч.
          </mat-panel-title>

          <mat-panel-description>
            <div class="d-flex justify-content-between">
              <span class="truncate-text margin-right">
                {{ booking.name | truncate : 50 }}
              </span>

              <span class="">
                <a href="tel:{{ booking.phone }}">
                  {{ booking.phone || 'NULL DATA' }}
                </a>
              </span>

              <span *ngIf="!isDayPast">
                <i class="fa ml-1 col-1" style="cursor: pointer" data-toggle="modal" data-target="#exampleModalCenter"
                  (click)="openRemoveBookingConfirmation(booking.bookingId)">&#xf00d;</i>
              </span>
            </div>
          </mat-panel-description>

          <!-- Show style if reservation have Notes -->
          <span class="element-notes" *ngIf="booking?.note"></span>
        </mat-expansion-panel-header>
        <div class="row">
          <span class="col-12 a-start margin-b"> Име: {{ booking.name }} </span>
          <span class="col-12 a-start" *ngIf="booking?.note">
            Бележка: {{ booking?.note }}
          </span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- Render Olny Free Hours -->
  <div *ngIf="!booking.bookingId" style="cursor: pointer">
    <div class="border border-primary rounded shadow p-2 text-dark text-center"
      (click)="openBookingDialog(booking.timestamp)">
      {{ booking.timestamp | date : 'HH:mm' }}
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Изтриване</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Сигурни ли сте, че искате да изтриете тази резервация?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Отказ
        </button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="removeBooking()">
          Потвърди
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal - will be removed -->
<div class="modal fade" id="modalNote" tabindex="-1" role="dialog" aria-labelledby="modalNote" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNote">
          Забележка - {{ noteModal?.name }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>{{ noteModal?.note }}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Затвори
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalCancel" tabindex="-1" role="dialog" aria-labelledby="modalCancel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNote">
          Почивен ден - {{ date.getDate() }}.{{ date.getMonth() }}.{{
          date.getFullYear()
          }}
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Всички часове в този ден ще бъдат отменени.</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelDay()">
          ПОТВЪРДИ
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Затвори
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Loader -->
<div class="events-container text-primary text-center mt-5" *ngIf="loader && isServerDown == false">
  <div class="spinner-border" role="status">
    <span class="sr-only">Зареждане...</span>
  </div>
</div>

<div class="text-center center-transform" *ngIf="isServerDown == true">
  <span class="server-down-msg">Няма връзка до сървъра!</span>
</div>
