<div class="container-fluid px-0 px-sm-4 mx-auto">
  <div class="row justify-content-between mx-0">
    <div class="col-lg-3">
      <app-business-card-header class="card"></app-business-card-header>

      <div class="p-3 mt-2 card">
        <div class="d-flex align-items-center fw-500 my-3">
          <mat-icon>access_time</mat-icon>
          <span class="px-2"> 30 мин. </span>
        </div>
        <div class="d-flex align-items-center fw-500 my-3">
          <mat-icon>date_range</mat-icon>
          <span class="px-2"> 10:00 - 10:30, окт. 10 2023 </span>
        </div>
        <div class="d-flex align-items-center fw-500 my-3">
          <mat-icon>perm_device_information</mat-icon>
          <span class="px-2">
            За допълнителна информация се свържете на телефон: 0888 888 888
          </span>
        </div>
        <div class="d-flex align-items-center fw-500 my-3">
          <mat-icon>language</mat-icon>
          <span class="px-2"> Eastern European Time </span>
        </div>
      </div>
    </div>
    <div class="col-lg-9 mb-2">
      <div class="card border-0">
        <form>
          <!-- Start Stepper -->
          <mat-stepper class="rounded">
            <mat-step>
              <div class="card-header bg-white pt-4">
                <app-studio-datetime-picker></app-studio-datetime-picker>
              </div>
              <div class="card-body p-3 p-sm-5">
                <div class="row justify-content-start">
                  <button *ngFor="let timeInterval of timeIntervals"
                    class="col-md-2 col-sm-12 my-1 px-2 mx-2 border-rad-10" mat-stroked-button matStepperNext
                    (click)="setNexStep(timeInterval)">
                    <mat-icon class="clock-icon">access_time</mat-icon>
                    {{ timeInterval }} - {{ timeInterval }}
                  </button>
                </div>
              </div>
            </mat-step>

            <mat-step class="position-relative">
              <button class="position-absolute top-0 start-0 fs-1 mt-2" mat-raised-button matStepperPrevious>
                <mat-icon>arrow_back</mat-icon>
              </button>

              <!-- ========== Pass the needed data when API is ready ========== -->
              <app-self-booking-step-add date="today" [hour]="nextStep">
              </app-self-booking-step-add>
            </mat-step>
          </mat-stepper>
          <!-- End Stepper -->
        </form>
      </div>
    </div>
  </div>
</div>