<div class="card-body pb-2">
  <h4>Смяна на парола</h4>
  <form [formGroup]="passwordChangeForm" (ngSubmit)="changePassword()">
    <mat-form-field class="w-100">
      <mat-label>Стара парола</mat-label>
      <input type="password" matInput formControlName="oldPassword" />
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Нова парола</mat-label>
      <input type="password" matInput formControlName="newPassword" />
      <mat-error *ngIf="passwordChangeForm.get('newPassword').hasError('minlength')">
        Новата парола трябва да бъде поне 6 символа.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100">
      <mat-label>Повтори нова парола</mat-label>
      <input type="password" matInput formControlName="confirmNewPassword" />
      <mat-error *ngIf="passwordChangeForm.hasError('mismatch', 'confirmNewPassword')">
        Паролите не съвпадат.
      </mat-error>
    </mat-form-field>

    <div class="text-right m-4">
      <button type="submit" mat-raised-button color="primary" [disabled]="!passwordChangeForm.valid">
        Запази промени
      </button>
      &nbsp;
      <button mat-stroked-button color="primary">Отказ</button>
    </div>
  </form>
</div>
