<div class="card-body pb-2">
    <h4>Моята визитка</h4>
    <mat-divider class="py-2"></mat-divider>
    <form [formGroup]="businessCardForm" (ngSubmit)="downloadQRCode()">
        <div class="business-card-info">
            <p>Имате възможност да създадете и свалите файл с QR код + социалните Ви мрежи.</p>
            <p>
                Чрез този файл ще имате възможност да го споделите в социалните Ви мрежи, както и да го разпечатате и
                залепите на витрината на вашето предприятие.
            </p>
        </div>

        <div #qrContainer class="bg-black rounded-qr-code my-3">
            <article class="row justify-content-center">
                <article class="col-10 text-center">
                    <app-qr-code [currentQrCode]="facilityLink" [qrCodeColor]="'white'">
                    </app-qr-code>
                    <h6 class="company-logo">BOOKIE.</h6>
                </article>
            </article>
        </div>

        <div class="text-right m-4">
            <button type="submit" mat-raised-button color="primary">
                Свали файла
            </button>
            &nbsp;
            <button mat-stroked-button color="primary">Отказ</button>
        </div>
    </form>
</div>