<section>
  <h2 class="text-center">Запазване на час</h2>
  <div class="row align-items-center">
    <div class="col-12 col-md-4">
      <div class="d-flex align-items-center fw-500 my-3">
        <mat-icon>access_time</mat-icon>
        <span class="px-2"> 30 мин. </span>
      </div>
      <div class="d-flex align-items-center fw-500 my-3">
        <mat-icon>date_range</mat-icon>
        <span class="px-2"> 10:00 - 10:30, окт. 10 2023 </span>
      </div>
      <div class="d-flex align-items-center fw-500 my-3">
        <mat-icon>perm_device_information</mat-icon>
        <span class="px-2">
          За допълнителна информация се свържете на телефон: 0888 888 888
        </span>
      </div>
      <div class="d-flex align-items-center fw-500 my-3">
        <mat-icon>language</mat-icon>
        <span class="px-2"> Eastern European Time </span>
      </div>
    </div>

    <form class="col-12 col-md-8 mt-2" [formGroup]="bookingForm">
      <mat-form-field class="w-100">
        <mat-label>Име</mat-label>
        <input matInput type="text" formControlName="firstName" />
        <button
          *ngIf="bookingForm.get('firstName').value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="bookingForm.get('firstName').reset()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Фамилия</mat-label>
        <input matInput type="text" formControlName="lastName" />
        <button
          *ngIf="bookingForm.get('lastName').value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="bookingForm.get('lastName').reset()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Телефон</mat-label>
        <input matInput type="text" formControlName="phone" />
        <button
          *ngIf="bookingForm.get('phone').value"
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="bookingForm.get('phone').reset()"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Услуги</mat-label>
        <mat-select formControlName="services" multiple>
          <mat-option *ngFor="let service of serviceList" [value]="service">{{
            service
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>

  <div class="row justify-content-end">
    <button
      type="button"
      class="btn btn-link text-primary me-2"
      (click)="onSubmit()"
    >
      Запази
    </button>
  </div>
</section>
