<section>
  <h2 class="text-center">Запазване на час</h2>
  <form [formGroup]="bookingForm">
    <mat-form-field class="w-100">
      <mat-label>Име</mat-label>
      <input matInput type="text" formControlName="firstName" />
      <button
        *ngIf="bookingForm.get('firstName').value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="bookingForm.get('firstName').reset()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Фамилия</mat-label>
      <input matInput type="text" formControlName="lastName" />
      <button
        *ngIf="bookingForm.get('lastName').value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="bookingForm.get('lastName').reset()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Телефон</mat-label>
      <input matInput type="text" formControlName="phone" />
      <button
        *ngIf="bookingForm.get('phone').value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="bookingForm.get('phone').reset()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="w-100">
      <mat-label>Услуги</mat-label>
      <mat-select formControlName="services" multiple>
        <mat-option *ngFor="let service of serviceList" [value]="service">{{
          service
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <div class="row justify-content-end">
    <button
      type="button"
      class="btn btn-link text-primary me-2"
      (click)="onSubmit()"
    >
      Запази
    </button>
  </div>
</section>
