<div class="content">
    <div class="container">
        <div class="row justify-content-center" >
            <div class="col-md-12 contents">
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <div class="form-block">

                            <div class="mb-4">
                                <h3>Смяна на паролата</h3>
                                <p class="mb-4"></p>
                            </div>
                            <div class="alert alert-danger" role="alert" *ngIf="requestStatus==2">
                                Нещо се обърка. Моля опитайте отново.
                            </div>
                            <div class="alert alert-success" role="alert" *ngIf="requestStatus==1">
                                Паролата беше променена успешно. Ще бъдете пренасочени към страницата за вход.
                            </div>
                            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


                                <mat-form-field class="w-100 mt-2">
                                    <mat-label>Парола</mat-label>
                                    <input matInput id="password" type="password" formControlName="password">
                                    <mat-error
                                        *ngIf="utilityService.HasError(registerForm,'password','required') && utilityService.IsTouched(registerForm,'password')">
                                        Това поле е задължително.
                                    </mat-error>
                                    <mat-error
                                        *ngIf="utilityService.HasError(registerForm,'password','minLength') && utilityService.IsTouched(registerForm,'password')">
                                        Паролата, трябва да бъде поне 3 символа.
                                    </mat-error>
                                </mat-form-field>
                                <mat-form-field class="w-100 mt-2">
                                    <mat-label>Повтори парола</mat-label>
                                    <input matInput id="confirmPassword" type="password"
                                        formControlName="confirmPassword">
                                    <mat-error
                                        *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
                                        Това поле е задължително.
                                    </mat-error>
                                    <mat-error>
                                        Паролите не съвпадат
                                    </mat-error>
                                </mat-form-field>

                                <button type="submit" class="btn btn-pill text-white btn-block btn-primary mt-5"
                                    [disabled]="requestStatus==-1">
                                    <span *ngIf="requestStatus!=-1">Изпрати</span>

                                    <div class="spinner-container d-flex justify-content-center"
                                        *ngIf="requestStatus==-1">
                                        <mat-spinner [diameter]="35"></mat-spinner>
                                    </div>
                                </button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>