<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 contents">
        <div class="row justify-content-center">
          <div class="col-md-9">
            <div class="form-block">
              <div class="mb-4">
                <h3>Смяна на паролата</h3>
                <p class="mb-4"></p>
              </div>
              <!-- Start Alert -->
              <ng-container *ngIf="requestStatus == 2">
                <app-static-alert-message alertMessage="Нещо се обърка. Моля опитайте отново."
                  alertStyle="alert-danger">
                </app-static-alert-message>
              </ng-container>
              <!-- End Alert -->

              <!-- Start Alert -->
              <ng-container *ngIf="requestStatus == 1">
                <app-static-alert-message alertMessage="Паролата беше променена успешно. Ще бъдете пренасочени към
                страницата за вход." alertStyle="alert-success">
                </app-static-alert-message>
              </ng-container>
              <!-- End Alert -->

              <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div>
                  <label class="custom-field w-100" [ngClass]="{'invalid-field': utilityService.HasError(registerForm, 'newPassword', 'required') &&
                  utilityService.IsTouched(registerForm, 'newPassword')}">
                    <input type="password" id="password" class="w-100" placeholder=" " formControlName="newPassword" />
                    <span class="placeholder cursor-text">Парола</span>
                  </label>
                  <mat-error *ngIf="
                      utilityService.HasError(
                        registerForm,
                        'newPassword',
                        'required'
                      ) && utilityService.IsTouched(registerForm, 'newPassword')
                    ">
                    Това поле е задължително.
                  </mat-error>
                  <mat-error *ngIf="
                      utilityService.HasError(
                        registerForm,
                        'newPassword',
                        'minLength'
                      ) && utilityService.IsTouched(registerForm, 'newPassword')
                    ">
                    Паролата, трябва да бъде поне 3 символа.
                  </mat-error>
                </div>

                <div>
                  <label class="custom-field w-100" [ngClass]="{'invalid-field': utilityService.HasError(registerForm, 'confirmPassword', 'required') &&
                  utilityService.IsTouched(registerForm, 'confirmPassword')}">
                    <input type="password" id="confirmPassword" class="w-100" placeholder=" "
                      formControlName="confirmPassword" />
                    <span class="placeholder cursor-text">Повтори паролата</span>
                  </label>
                  <mat-error *ngIf="
                      registerForm.get('newPassword').hasError('required') &&
                      registerForm.get('newPassword').touched
                    ">
                    Това поле е задължително.
                  </mat-error>
                  <mat-error> Паролите не съвпадат </mat-error>
                </div>

                <button type="submit" class="btn btn-pill text-white btn-block btn-primary mt-5"
                  [disabled]="requestStatus == -1">
                  <span *ngIf="requestStatus != -1">Изпрати</span>

                  <!-- <div class="spinner-container d-flex justify-content-center"
                                        *ngIf="requestStatus==-1">
                                        <mat-spinner [diameter]="35"></mat-spinner>
                                    </div> -->
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>