<div class="card-body pb-2">
  <form [formGroup]="bookingForm" (ngSubmit)="submitForm()">
    <h4>Настройки по подразбиране на календар</h4>
    <p style="font-size: small" class="text-muted">
      Настройките по подразбиране се прилагат на всеки ден от календара. Ако
      желаете да приложите настройки на определен ден, може да го направите от
      календара като отидете на определената дата.
    </p>
    <mat-divider class="py-2"></mat-divider>
    <div class="row">
      <div class="col-sm-6">
        <label class="custom-field-select w-100">
          <select placeholder=" " [(ngModel)]="startPeriodIndex" class="w-100" [ngModelOptions]="{standalone: true}"
            (change)="dateChange(true)">
            <option *ngFor="let time of timeSlots; let i=index" value="{{i}}">
              {{time| utcToLocal:'HH:mm'}} ч.

            </option>
          </select>
          <span class="placeholder-select cursor-text">Начален час</span>
        </label>
      </div>

      <div class="col-sm-6">
        <label class="custom-field-select w-100">
          <select placeholder=" " [(ngModel)]="endPeriodIndex" class="w-100" [ngModelOptions]="{standalone: true}"
            (change)="dateChange(false)">
            <option *ngFor="let time of timeSlots; let i=index" value="{{i}}">
              {{time| utcToLocal:'HH:mm'}} ч.
            </option>
          </select>
          <span class="placeholder-select cursor-text">Краен час</span>
        </label>
      </div>
    </div>

    <label class="custom-field-select w-100">
      <select class="w-100" placeholder=" " formControlName="interval">
        <option *ngFor="let duration of durations" [value]="duration">
          {{ duration }}
        </option>
      </select>
      <span class="placeholder-select cursor-text">Интервал на часовете</span>
    </label>

    <app-selection-list [workingDays]="workingDaysFormArray" [title]="'Работни дни'"></app-selection-list>

    <mat-checkbox class="mt-3" formControlName="allowUserBooking">
      Позволи потребителите да запазват часове
    </mat-checkbox>

    <div class="text-right m-4">
      <button type="submit" mat-raised-button color="primary">
        Запази промени
      </button>
      &nbsp;
      <button mat-stroked-button color="primary">Отказ</button>
    </div>
  </form>
</div>