.hours-container {
  overflow-y: auto;
  max-height: 450px;
}

.calendar-event-card {
  padding: 5px;
  max-width: 100%;
  display: block;
  background: #fff;
  margin: 0;
}

.fs-22 {
  font-size: 22px;
}

@media (max-width: 991.98px) {
  .calendar-event-card {
    margin: 5px;
  }
}

@media (max-width: 767.98px) {
  .calendar-event-card {
    margin: 0;
    margin-bottom: 5px;
  }
}
