<div class="card-body pb-2">
  <div *ngIf="hasHeader">
    <h4>Създаване и редактиране на услуги</h4>
    <mat-divider class="py-2"></mat-divider>
  </div>

  <div class="d-flex flex-row-reverse">
    <button mat-stroked-button color="primary" class="mb-2" (click)="onAddService()">
      <mat-icon>add</mat-icon>
      Добави нова услуга
    </button>
  </div>

  <div class="row p-3">
    <div class="alert alert-info col-11 mx-5" *ngIf="serviceCategories?.length==0">
      Няма добавени услуги
    </div>
    <div class="col-12" *ngFor="let category of serviceCategories">
      <!-- Start Category -->
      <div class="d-flex justify-content-between align-items-center px-1">
        <h5>
          {{ category.name }}
        </h5>
        <span>
          <button mat-icon-button color="primary" (click)="editCategory(category.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCategory(category.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </div>
      <mat-divider></mat-divider>
      <!-- End Category -->
      <div class="alert alert-info" *ngIf="category.services?.length==0">
        В тази категория все още няма услуги
      </div>
      <!-- Start Services -->
      <div class="d-flex flex-column my-2 services-box-shadow rounded mx-1" *ngFor="let service of category.services">
        <div class="d-flex justify-content-between align-items-center px-1 ps-14">
          <span> {{ service.name }} </span>
          <span>
            <span> {{ service.price }} лв. </span>

            <button mat-icon-button color="primary" (click)="editService(category.id, service.id)">
              <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button color="warn" (click)="deleteService(category.id, service.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </span>
        </div>

        <div class="row px-1 ps-14">
          <div class="col-12 fs-12 mt-min-14">
            <i class="far fa-clock"></i>
            {{service.duration}} мин.
          </div>
        </div>
      </div>
      <!-- End Services -->
    </div>
  </div>
</div>