.user-book-service-container {
  margin-top: 100px;
}

.single-service {
  transition: transform 0.2s ease-in-out;
}

.single-service:hover {
  transform: translateY(-3px);
}

.custom-shadow {
  box-shadow: 0px 0px 4px 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.mt-min-8 {
  margin-top: -8px;
}

.fs-12 {
  font-size: 12px;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.lh-18 {
  line-height: 18px;
}
