<section class="pt-70 pb-90">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="content w-100 mt-0">
          <!-- Calendar -->
          <div class="calendar-container margin-b">
            <app-calendar-overview #childComponentRef (dateChange)="dateChange($event)"></app-calendar-overview>

            <!-- Edit & Add Apointment Butons -->
            <div class="text-center custom-calendar-edit-btn" *ngIf="isServerDown == false">
              <button mat-stroked-button class="rounded-pill light-blue" color="primary" (click)="editDay()"
                [disabled]="isPastDate">
                Редактирай
              </button>
            </div>
          </div>
          <div class="events-container" *ngIf="!loader && isServerDown == false">
            <app-reservation-list (dateChange)="dateChange($event)" [bookingsOrigin]="bookingsOrigin" [isOpen]="isOpen"
              [isDayPast]="isPastDate" [facilityConfiguration]="facilityConfiguration"
              [autocompleteNames]="autocompleteNames" [date]="date"></app-reservation-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>