.pt-70 {
  padding-top: 85px;
}

/* Media Queries */
@media (max-width: 768px) {
  .pb-90 {
    padding-bottom: 90px !important;
  }
}

@media (max-width: 600px) {
  .pt-70 {
    padding-top: 40px;
  }
}
