.container-list {
  margin-top: 150px;
}

.fixed-layout {
  table-layout: fixed;
}

.fixed-layout th,
.fixed-layout td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.custom-shadow {
  box-shadow: 0px 4px 8px 0px #7986cb;
}
