<div>
  <div class="my-2">
    <h4>Изберете час</h4>
    <mat-divider></mat-divider>
  </div>

  <p class="alert alert-warning m-3" role="alert" *ngIf="bookings.length == 0 && !isDayPast && isServerDown == false">
    Все още няма заети часове за {{ this.date.getDate() }}
    {{ date.toLocaleString('bg-BG', { month: 'long' }) }}
    {{ date.getFullYear() }}г.
  </p>
  <div class="alert alert-warning m-4" role="alert" *ngIf="isDayPast">
    Тази дата е минала и нямате право на действия.
  </div>
  <div class="alert alert-warning m-4" role="alert" *ngIf="currentDay && !currentDay?.isWorking && !isDayPast">
    ПОЧИВЕН ДЕН
  </div>

  <!-- Display Hours -->
  <div class="user-event-card" *ngFor="let booking of bookings">
    <!-- Render Olny Reserved Hours -->
    <div *ngIf="booking.bookingId">
      <mat-accordion>
        <mat-expansion-panel class="event-expansion-panel custom-shadow" hideToggle>
          <mat-expansion-panel-header class="reservation-container">
            <mat-panel-title>
              {{ booking.timestamp | date : 'HH:mm' }} ч.
            </mat-panel-title>

            <mat-panel-description>
              <div class="d-flex justify-content-between">
                <span class="truncate-text margin-right">
                  {{ booking.name | truncate : 50 }}
                </span>

                <span>
                  <a href="tel:{{ booking.phone }}">
                    {{ booking.phone || 'NULL DATA' }}
                  </a>
                </span>

                <span>
                  <i class="fa ml-1 col-1" style="cursor: pointer" data-toggle="modal" data-target="#exampleModalCenter"
                    (click)="openRemoveBookingConfirmation(booking.bookingId)">&#xf00d;</i>
                </span>
              </div>
            </mat-panel-description>

            <!-- Show style if reservation have Notes -->
            <span class="element-notes" *ngIf="booking?.note"></span>
          </mat-expansion-panel-header>
          <div class="row">
            <span class="col-12 a-start margin-b">
              Име: {{ booking.name }}
            </span>
            <span class="col-12 a-start" *ngIf="booking?.note">
              Бележка: {{ booking?.note }}
            </span>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>

    <!-- Render Olny Free Hours -->
    <div *ngIf="!booking.bookingId" style="cursor: pointer">
      <div class="border border-primary rounded custom-shadow p-2 text-dark text-center"
        (click)="openBookingDialog(booking.timestamp)">
        {{ booking.timestamp | date : 'HH:mm' }}
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Изтриване</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Сигурни ли сте, че искате да изтриете тази резервация?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Отказ
          </button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="removeBooking()">
            Потвърди
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal - will be removed -->
  <div class="modal fade" id="modalNote" tabindex="-1" role="dialog" aria-labelledby="modalNote" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalNote">
            Забележка - {{ noteModal?.name }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>{{ noteModal?.note }}</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Затвори
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modalCancel" tabindex="-1" role="dialog" aria-labelledby="modalCancel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalNote">
            Почивен ден - {{ date.getDate() }}.{{ date.getMonth() }}.{{
            date.getFullYear()
            }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h4>Всички часове в този ден ще бъдат отменени.</h4>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancelDay()">
            ПОТВЪРДИ
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Затвори
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Loader -->
  <div class="events-container text-primary text-center mt-5" *ngIf="loader && isServerDown == false">
    <div class="spinner-border" role="status">
      <span class="sr-only">Зареждане...</span>
    </div>
  </div>

  <div class="text-center center-transform" *ngIf="isServerDown == true">
    <span class="server-down-msg">Няма връзка до сървъра!</span>
  </div>

  <!-- Add New Hour Dialog -->
  <div class="dialog bg-white" id="bookingDialog">
    <p class="text-center mb-1 mt-2" style="color: black">
      Запази час -
      <b>{{ this.date.getDate() }}
        {{ date.toLocaleString('bg-BG', { month: 'long' }) }}
        {{ date.getFullYear() }}г.
      </b>
    </p>

    <form class="form mb-0 mt-0 p-2" [formGroup]="bookingForm">
      <div class="form-container mb-0 mt-0 pb-0 pt-0">
        <div class="w-100 mb-1 position-relative">
          <label class="custom-field w-100" [ngClass]="{'invalid-field': utilityService.HasError(bookingForm, 'name', 'required') &&
          utilityService.IsTouched(bookingForm, 'name')}">
            <input class="w-100" placeholder=" " name="name" formControlName="name" [matAutocomplete]="auto" />
            <span class="placeholder cursor-text">Име Фамилия</span>
          </label>

          <mat-error class="fs-11 error-container-name" *ngIf="utilityService.HasError(bookingForm, 'name', 'required') &&
            utilityService.IsTouched(bookingForm, 'name')">
            Това поле е задължително.
          </mat-error>

          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option.name }} - {{ option.phoneNumber }}
            </mat-option>
          </mat-autocomplete>
        </div>

        <div class="w-100 mb-1 position-relative">
          <label class="custom-field w-100" [ngClass]="{'invalid-field': utilityService.HasError(bookingForm, 'phone', 'required') &&
          utilityService.IsTouched(bookingForm, 'phone')}">
            <input class="w-100" placeholder=" " name="phone" formControlName="phone" [matAutocomplete]="auto2" />
            <span class="placeholder cursor-text">Телефон</span>
          </label>

          <mat-error class="fs-11 error-container-phone" *ngIf="utilityService.HasError(bookingForm, 'phone', 'required') &&
            utilityService.IsTouched(bookingForm, 'phone')">
            Това поле е задължително.
          </mat-error>

          <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="onOptionSelected($event)">
            <mat-option *ngFor="let option of filteredPhoneOptions | async" [value]="option">
              {{ option.name }} - {{ option.phoneNumber }}
            </mat-option>
          </mat-autocomplete>
        </div>

        <div class="w-100 mb-1 position-relative">
          <label class="custom-field w-100" [ngClass]="{'invalid-field': utilityService.HasError(bookingForm, 'email', 'required') &&
          utilityService.IsTouched(bookingForm, 'email')}">
            <input class="w-100" placeholder=" " name="email" formControlName="email" [matAutocomplete]="autoEmail" />
            <span class="placeholder cursor-text">Имейл</span>
          </label>

          <mat-error class="fs-11 error-container-email" *ngIf="utilityService.HasError(bookingForm, 'email', 'required') &&
            utilityService.IsTouched(bookingForm, 'email')">
            Това поле е задължително.
          </mat-error>

          <mat-autocomplete #autoEmail="matAutocomplete" (optionSelected)="onOptionSelected($event)">
            <mat-option *ngFor="let option of filteredEmailOptions | async" [value]="option">
              {{ option.email }}
            </mat-option>
          </mat-autocomplete>
        </div>

        <div class="w-100 mb-1">
          <label class="custom-field w-100">
            <input class="w-100" placeholder=" " name="note" formControlName="note" />
            <span class="placeholder cursor-text">Бележка</span>
          </label>
        </div>

        <div class="d-flex align-items-center">
          <mat-checkbox>Съзай ми регистрация автоматично</mat-checkbox>
        </div>

        <div class="text-center w-100 mt-5">
          <button mat-stroked-button color="danger" class="mr-3 rounded-pill px-5" (click)="cancelEvent('cancel-set')">
            Отказ
          </button>

          <button mat-stroked-button color="primary" class="rounded-pill px-5" (click)="openPreviewDialog()">
            Преглед
          </button>
        </div>
      </div>
    </form>
  </div>

  <!-- Preview Dialog -->
  <div class="dialog bg-white" id="previewDialog">
    <div class="text-center mt-2">
      <h5>Имен на салон!</h5>
    </div>

    <div class="d-flex px-3">
      <p class="text-dark fw-500">
        <i class="far fa-user"></i>
        Клиент:
      </p>

      <p class="ml-1">{{ bookingForm.get('name').value }}</p>
    </div>

    <div class="d-flex px-3">
      <p class="text-dark fw-500">
        <i class="far fa-handshake"></i>
        Услуга:
      </p>

      <p class="ml-1">Нямаме я към обекта!</p>
    </div>

    <div class="d-flex px-3">
      <p class="text-dark fw-500">
        <i class="fas fa-mobile-alt"></i>
        Телефон:
      </p>

      <p class="ml-1">{{ bookingForm.get('phone').value }}</p>
    </div>

    <div class="d-flex px-3">
      <p class="text-dark fw-500">
        <i class="far fa-envelope"></i>
        Имейл:
      </p>

      <p class="ml-1">{{ bookingForm.get('email').value }}</p>
    </div>

    <div class="d-flex px-3">
      <p class="text-dark fw-500">
        <i class="fas fa-hourglass-start"></i>
        Начален час:
      </p>

      <p class="ml-1">{{ bookingForm.get('timestamp').value | date }}</p>
    </div>

    <div class="d-flex px-3">
      <p class="text-dark fw-500">
        <i class="far fa-clock"></i>
        Продължителност:
      </p>

      <p class="ml-1">Нямаме го към обекта!</p>
    </div>

    <div class="d-flex px-3">
      <p class="text-dark fw-500">
        <i class="fas fa-file-signature"></i>
        Бележка:
      </p>

      <p class="ml-1">{{ bookingForm.get('note').value || "Няма зададена бележка!" }}</p>
    </div>

    <div class="d-flex px-3">
      <p class="text-dark fw-500">
        <i class="fas fa-map-marked-alt"></i>
        Адрес:
      </p>

      <p class="ml-1">Нямаме го към обекта!</p>
    </div>

    <div class="text-center w-100 mt-5">
      <button mat-stroked-button color="danger" class="mr-3 rounded-pill px-5" (click)="cancelEvent('cancel-preview')">
        Назад
      </button>

      <button mat-stroked-button color="primary" class="rounded-pill px-5" (click)="bookHour()">
        Запази
      </button>
    </div>
  </div>
</div>