<div class="position-relative">
  <button mat-icon-button mat-dialog-close class="custom-dialog-close-button">
    <mat-icon>close</mat-icon>
  </button>
  <h1 class="text-center cursor-default" mat-dialog-title>
    {{ data.categoryId != undefined ? 'Редактиране на категория' : 'Добавяне на категория' }}
  </h1>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="addCategoryForm">
      <label class="custom-field w-100" [ngClass]="{'invalid-field': utilityService.HasError(addCategoryForm, 'newCategory', 'required') &&
      utilityService.IsTouched(addCategoryForm, 'newCategory')}">
        <input type="text" class="w-100" placeholder=" " name="newCategory" formControlName="newCategory" />
        <span class="placeholder cursor-text">Име на новата категория</span>
      </label>

      <mat-error class="fs-11 m-bot-min-10" *ngIf="utilityService.HasError(addCategoryForm, 'newCategory', 'required') &&
      utilityService.IsTouched(addCategoryForm, 'newCategory')">
        Това поле е задължително.
      </mat-error>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Затвори</button>
    <button mat-raised-button mat-dialog-close class="bg-primary text-white" (click)="onSubmit()"
      [disabled]="this.addCategoryForm.get('newCategory').value == ''">
      Запази
    </button>
  </mat-dialog-actions>
</div>