<div class="position-relative">
  <button mat-icon-button mat-dialog-close class="custom-dialog-close-button">
    <mat-icon>close</mat-icon>
  </button>
  <h1 class="text-center" mat-dialog-title>Внимание</h1>
  <mat-dialog-content class="mat-typography">
    <p class="fs-18">Сигурни ли сте, че искате да откажете тази резервация?</p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Затвори</button>
    <button mat-raised-button mat-dialog-close class="bg-danger text-white">
      Отказване на резервация
    </button>
  </mat-dialog-actions>
</div>