<div class="content">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 contents">
        <div class="row justify-content-center">
          <div class="col-md-9">
            <mat-tab-group
              #tabGroup
              disableRipple
              mat-stretch-tabs
              style="background-color: white"
              [selectedIndex]="selected.value"
              (selectedIndexChange)="selected.setValue($event)"
            >
              <mat-tab label="Вход">
                <app-login></app-login>
              </mat-tab>
              <mat-tab label="Регистрация">
                <app-register></app-register>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
