<div class="container">
  <h4 class="ml-2 my-3">Основна информация</h4>
  <div class="row">
    <article class="col-4 img-container mb-4">
      <img *ngIf="user?.profilePictureBase64" [src]="user?.profilePictureBase64" alt="" />
      <img *ngIf="!user?.profilePictureBase64" src="assets/images/default-user.png" alt="" />
      <button class="m-3" mat-raised-button color="primary" (click)="openDialog()">
        Редакция на профилна снимка
      </button>
    </article>
    <div class="col-8">
      <p>Име на обект: {{user?.facilityName}}</p>
      <p>Име: {{user?.name}}</p>
      <p>Фамилия: {{user?.surname}}</p>
      <p>Телефон: {{user?.phone}}</p>
      <p>Имейл: {{user?.email}}</p>
    </div>
  </div>
  <mat-divider></mat-divider>
  <h4 class="ml-2 my-3">Редакция на информацията</h4>
  <form [formGroup]="formGroup">
    <div class="card-body">
      <mat-form-field class="w-100 mt-2">
        <mat-label>Име</mat-label>
        <input matInput placeholder="Вашето име" name="name" formControlName="name" />
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Фамилия</mat-label>
        <input matInput placeholder="Вашата фамилия" name="surname" formControlName="surname" />
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Телефон</mat-label>
        <input matInput placeholder="Вашият телефон" name="phone" formControlName="phone" />
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Имейл</mat-label>
        <input matInput placeholder="Вашият имейл" formControlName="email" name="email"/>
        <!-- <mat-hint>
          Имейлът Ви не е потвърден. Моля проверете вашата пощта.
          <a href="javascript:void(0)">Повторно изпращане на потвърждение.</a>
        </mat-hint> -->
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Име на обект</mat-label>
        <input matInput placeholder="Име на обект" name="facilityName" formControlName="facilityName" />
        <!-- <mat-hint align="start">Името, което ще се появява, когато някой запазва час. Ако това поле е празно, ще се
          появяват двете ви имена.</mat-hint> -->
      </mat-form-field>
    </div>

    <div class="text-right m-4">
      <button [disabled]="!formGroup.valid" type="submit" mat-raised-button color="primary" (click)="saveGeneralInformation()">Запази промени</button>
      <!-- &nbsp;
      <button mat-stroked-button color="primary">Отказ</button> -->
    </div>
  </form>

</div>