<div class="container">
  <h4 class="ml-2 my-3">Основна информация</h4>
  <mat-divider class="py-2"></mat-divider>
  <div class="row">
    <article class="col-4 img-container mb-4">
      <img *ngIf="user?.profilePictureBase64" [src]="user?.profilePictureBase64" alt="" />
      <img *ngIf="!user?.profilePictureBase64" src="assets/images/default-user.png" alt="" />
    </article>
    <div class="col-8">
      <p>Име на обект: {{user?.facilityName}}</p>
      <p>Име: {{user?.name}}</p>
      <p>Фамилия: {{user?.surname}}</p>
      <p>Телефон: {{user?.phone}}</p>
      <p>Имейл: {{user?.email}}</p>
    </div>
  </div>
  <button class="m-3" mat-raised-button color="primary" (click)="openDialog()">
    Редакция на профилна снимка
  </button>
  <mat-divider></mat-divider>
  <h4 class="ml-2 my-3">Редакция на информацията</h4>
  <form [formGroup]="formGroup">
    <div class="card-body">
      <label class="custom-field w-100 mt-2">
        <input class="w-100" placeholder=" " name="name" formControlName="name" />
        <span class="placeholder cursor-text">Име</span>
      </label>

      <label class="custom-field w-100 mt-2">
        <input class="w-100" placeholder=" " name="surname" formControlName="surname" />
        <span class="placeholder cursor-text">Фамилия</span>
      </label>

      <label class="custom-field w-100 mt-2">
        <input class="w-100" placeholder=" " name="phone" formControlName="phone" />
        <span class="placeholder cursor-text">Телефон</span>
      </label>

      <label class="custom-field w-100 mt-2">
        <input class="w-100" placeholder=" " name="email" formControlName="email" />
        <span class="placeholder cursor-text">Имейл</span>
        <!-- <mat-hint>
          Имейлът Ви не е потвърден. Моля проверете вашата пощта.
          <a href="javascript:void(0)">Повторно изпращане на потвърждение.</a>
        </mat-hint> -->
      </label>

      <label class="custom-field w-100 mt-2">
        <input class="w-100" placeholder=" " name="facilityName" formControlName="facilityName" />
        <span class="placeholder cursor-text">Име на обект</span>
        <!-- <mat-hint align="start">Името, което ще се появява, когато някой запазва час. Ако това поле е празно, ще се
          появяват двете ви имена.</mat-hint> -->
      </label>
    </div>

    <div class="text-right m-4">
      <button [disabled]="!formGroup.valid" type="submit" mat-raised-button color="primary" (click)="saveGeneralInformation()">Запази промени</button>
    </div>
  </form>

</div>