<div class="calendar position-relative">
  <div class="my-2">
    <h4>Изберете дата</h4>
    <mat-divider></mat-divider>
  </div>

  <!-- Year -->
  <div class="year-header">
    <span class="left-button fa fa-chevron-left" id="prev" (click)="prevYear()">
    </span>
    <span id="label">{{ this.date.getFullYear() }}</span>
    <span class="right-button fa fa-chevron-right" id="next" (click)="nextYear()">
    </span>
  </div>

  <!-- Months -->
  <table class="cal-months-table w-100">
    <tbody>
      <tr class="months-row">
        <td class="month" [ngClass]="{ 'active-month': this.date.getMonth() == i }"
          *ngFor="let month of monthStrings; let i = index" id="i" (click)="monthClick(i)">
          {{ month }}
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Week Days -->
  <div>
    <div class="row header">
      <div *ngFor="let day of weekDays" class="col day text-center pe-2">
        {{ day }}
      </div>
    </div>

    <!-- Calendar Days -->
    <div class="frame">
      <table class="dates-table w-100">
        <tbody class="tbody">
          <tr *ngFor="let row of calendarRows" class="row justify-content-between align-items-center">
            <ng-container *ngFor="let element of row">
              <td id="day-{{ element.day }}" class="table-date text-primary col" [class.nil]="element.day === -1"
                [class.active-date]="element.day === date.getDate()" [ngClass]="{
                  'past-day-date': isPastDay(element.status),
                  'free-day': isFreeDay(element.status),
                  'full-day': isFullDay(element.status)
                }" (click)="dateClick(element.day)">
                {{ element.day > 0 ? element.day : '' }}
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>