/* Edit Day dialog */
.dialog {
  z-index: 5;
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: none;
}

.fs-18 {
  font-size: 18px;
}

/*  Dates table */
.table-date {
  padding: 6px 10px;
}

.cal-months-table {
  text-align: center;
}

/* Day Status */

.past-day-date {
  color: gray !important;
}

.free-day {
  color: gray !important;
  text-decoration: line-through solid black 1px;
}

.full-day {
  color: red !important;
  /* decorate with crossed line */
}

/* =========== Media Queries =========== */

@media screen and (min-width: 768px) {
  /* Apply this style only on screens that are 768 pixels wide or larger (desktop) */
  .table-date {
    padding: 10px 10px;
  }
}
