/* Edit Day dialog */
.dialog {
  z-index: 5;
  background: white;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: none;
}

.fs-18 {
  font-size: 18px;
}

/*  Dates table */
.table-date {
  padding: 8px 10px;
}

.cal-months-table {
  text-align: center;
}
