<div class="calendar position-relative">
  <div class="year-header">
    <span class="left-button fa fa-chevron-left" id="prev" (click)="prevYear()">
    </span>
    <span id="label">{{ this.date.getFullYear() }}</span>
    <span
      class="right-button fa fa-chevron-right"
      id="next"
      (click)="nextYear()"
    >
    </span>
  </div>

  <table class="months-table w-100">
    <tbody>
      <tr class="months-row">
        <td
          class="month"
          [ngClass]="{ 'active-month': this.date.getMonth() == i }"
          *ngFor="let month of monthStrings; let i = index"
          id="i"
          (click)="monthClick(i)"
        >
          {{ month }}
        </td>
      </tr>
    </tbody>
  </table>

  <div>
    <div class="row header">
      <div *ngFor="let day of weekDays" class="col day text-center pe-2">
        {{ day }}
      </div>
    </div>

    <div class="frame">
      <table class="dates-table w-100">
        <tbody class="tbody">
          <tr
            *ngFor="let row of calendarRows"
            class="row justify-content-between align-items-center"
          >
            <ng-container *ngFor="let element of row">
              <td
                id="day-{{ element.day }}"
                class="table-date text-primary col"
                [class.nil]="element.day === -1"
                [class.active-date]="element.day === date.getDate()"
                [ngClass]="{
                  'past-day-date': isPastDay(element.status),
                  'free-day': isFreeDay(element.status),
                  'full-day': isFullDay(element.status)
                }"
                (click)="dateClick(element.day)"
              >
                {{ element.day > 0 ? element.day : '' }}
              </td>
            </ng-container>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Edit & Add Apointment Butons -->
  <div class="text-center custom-calendar-edit-btn">
    <button
      class="btn btn-outline-primary rounded-pill px-5"
      (click)="editDay()"
      [disabled]="isDayPast"
    >
      Редактирай
    </button>
  </div>

  <!-- Edit Current Day -->
  <div class="dialog" id="customDayConfigurationDialog">
    <p class="text-center fs-18 my-3" style="color: black">
      ПРОМЕНИ ДЕН -
      <b
        >{{ this.date.getDate() }}
        {{ date.toLocaleString('bg-BG', { month: 'long' }) }}
        {{ date.getFullYear() }}г.
      </b>
    </p>

    <form id="form" [formGroup]="customDayConfigurationForm">
      <div class="form-container mb-0 mt-0 pb-0 pt-0" align="center">
        <div class="alert alert-warning pb-0 pt-0 my-2">
          Началото на работния ден, не може да бъде по-голямо от края!
        </div>

        <div class="w-100 mb-4">
          <!-- <select name="periodStart" formControlName="periodStart">
            <option
              value="{{ i }}"
              *ngFor="let hour of timeSlots; let i = index"
            >
              {{ hour | date : 'HH:mm' }} ч.
            </option>
          </select> -->

          <label class="custom-field-select w-100">
            <select
              class="w-100"
              placeholder=" "
              name="periodStart"
              formControlName="periodStart"
            >
              <option selected value="30">30 мин. - продължителност</option>
              <option value="60">1 час - продължителност</option>
              <option value="90">1:30 часа - продължителност</option>
              <option value="120">2 часа - продължителност</option>
              <option value="150">2:30 часа - продължителност</option>
              <option value="180">3 часа - продължителност</option>
              <option value="240">3:30 часа - продължителност</option>
              <option value="8">4 часа - продължителност</option>
              <option value="9">4:30 часа - продължителност</option>
              <option value="10">5 часа - продължителност</option>
              <option value="11">5:30 часа - продължителност</option>
              <option value="12">6 часа - продължителност</option>
              <option value="13">6:30 часа - продължителност</option>
              <option value="14">7 часа - продължителност</option>
            </select>
            <span class="placeholder-select cursor-text"
              >Работен ден - начало</span
            >
          </label>
        </div>

        <div class="w-100 mb-4">
          <!-- 
          <select
            name="periodEnd"
            formControlName="periodEnd"
          >
            <option
            value="{{ i }}"
            *ngFor="let hour of timeSlots; let i = index"
          >
            {{ hour | date : 'HH:mm' }} ч.
          </option>
          </select> -->

          <label class="custom-field-select w-100">
            <select
              class="w-100"
              placeholder=" "
              name="periodEnd"
              formControlName="periodEnd"
            >
              <option selected value="30">30 мин. - продължителност</option>
              <option value="60">1 час - продължителност</option>
              <option value="90">1:30 часа - продължителност</option>
              <option value="120">2 часа - продължителност</option>
              <option value="150">2:30 часа - продължителност</option>
              <option value="180">3 часа - продължителност</option>
              <option value="240">3:30 часа - продължителност</option>
              <option value="8">4 часа - продължителност</option>
              <option value="9">4:30 часа - продължителност</option>
              <option value="10">5 часа - продължителност</option>
              <option value="11">5:30 часа - продължителност</option>
              <option value="12">6 часа - продължителност</option>
              <option value="13">6:30 часа - продължителност</option>
              <option value="14">7 часа - продължителност</option>
            </select>
            <span class="placeholder-select cursor-text"
              >Работен ден - край</span
            >
          </label>
        </div>

        <div class="w-100 mb-4">
          <label class="custom-field-select w-100">
            <select class="w-100" placeholder=" " formControlName="interval">
              <option value="30">30 мин. - продължителност</option>
              <option value="60">1 час - продължителност</option>
              <option value="90">1:30 часа - продължителност</option>
              <option value="120">2 часа - продължителност</option>
              <option value="150">2:30 часа - продължителност</option>
              <option value="180">3 часа - продължителност</option>
              <option value="240">3:30 часа - продължителност</option>
              <option value="8">4 часа - продължителност</option>
              <option value="9">4:30 часа - продължителност</option>
              <option value="10">5 часа - продължителност</option>
              <option value="11">5:30 часа - продължителност</option>
              <option value="12">6 часа - продължителност</option>
              <option value="13">6:30 часа - продължителност</option>
              <option value="14">7 часа - продължителност</option>
            </select>
            <span class="placeholder-select cursor-text">Продължителност</span>
          </label>
        </div>

        <div class="py-4 bg-white">
          <input
            type="button"
            value="Отказ"
            class="btn btn-outline-danger rounded-pill px-5 mr-3"
            (click)="cancelEvent(2)"
          />
          <input
            type="button"
            value="Редактирай"
            class="btn btn-outline-primary rounded-pill px-5"
            (click)="addDaySpecifications()"
          />
        </div>
      </div>
    </form>
  </div>
</div>
