<section class="mt-0 pt-0" style="padding-top: 100px !important">
  <div class="container">
    <div class="row justify-content-center mt-4">
      <div class="col-md-5">
        <div class="content mt-0 custom-shadow">
          <mat-stepper class="position-relative h-100">
            <mat-step>
              <!-- Categories -->
              <app-book-category></app-book-category>
            </mat-step>

            <mat-step class="position-relative">
              <!-- Step Back -->
              <div class="step-back-btn">
                <button matStepperPrevious mat-raised-button>
                  <mat-icon>arrow_back</mat-icon> Назад
                </button>
              </div>

              <!-- Services -->
              <app-book-service></app-book-service>
            </mat-step>

            <mat-step class="position-relative">
              <!-- Step Back -->
              <div class="step-back-btn">
                <button matStepperPrevious mat-raised-button>
                  <mat-icon>arrow_back</mat-icon> Назад
                </button>
              </div>

              <!-- Calendar -->
              <!-- Add Heading -->
              <div class="user-calendar-container margin-b">
                <app-user-calendar-overview
                  (dateChange)="dateChange($event)"
                ></app-user-calendar-overview>
              </div>
            </mat-step>

            <mat-step class="position-relative">
              <!-- Step Back -->
              <div class="step-back-btn">
                <button matStepperPrevious mat-raised-button>
                  <mat-icon>arrow_back</mat-icon> Назад
                </button>
              </div>

              <!-- Reservations -->
              <!-- Add Heading -->
              <div class="user-reservation-container">
                <app-user-reservation-list
                  (dateChange)="dateChange($event)"
                  [bookingsOrigin]="bookingsOrigin"
                  [facilityConfiguration]="facilityConfiguration"
                  [date]="date"
                ></app-user-reservation-list>
              </div>
            </mat-step>
          </mat-stepper>
        </div>
      </div>
    </div>
  </div>
</section>
