<section class="mt-0 pt-0" style="padding-top: 100px !important">
  <div class="container">
    <article class="row justify-content-end p-1 mb-3">
      <article class="col-12">
        <h6>
          <span class="cursor-pointer" (click)="navigate('user-home/54654654')">
            Начало
          </span>
          /
          <span class="cursor-pointer" (click)="navigate('pre-booking')">
            Предприятия
          </span>
          /
          <span class="cursor-pointer" (click)="navigate('book-service')">
            Изберете услуга
          </span>
          /
          <u>Календар</u>
        </h6>
      </article>
    </article>

    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="content mt-0 custom-shadow">
          <mat-stepper class="h-100">
            <mat-step>
              <!-- Calendar -->
              <div class="user-calendar-container margin-b">
                <app-user-calendar-overview
                  (dateChange)="dateChange($event)"
                ></app-user-calendar-overview>
              </div>
            </mat-step>

            <mat-step>
              <!-- Reservations -->
              <div class="user-reservation-container">
                <app-user-reservation-list
                  (dateChange)="dateChange($event)"
                  [bookingsOrigin]="bookingsOrigin"
                  [facilityConfiguration]="facilityConfiguration"
                  [date]="date"
                ></app-user-reservation-list>
              </div>
            </mat-step>
          </mat-stepper>
        </div>
      </div>
    </div>
  </div>
</section>
