<h2 mat-dialog-title>Изпратени напомяния</h2>
<mat-dialog-content class="mat-typography" style="min-width: 100% !important;">
    <h3>Иван Иванов</h3>

    <div class="w-100">
        <table mat-table [dataSource]="dataSource" matSort class="w-100">

            <!-- ID Column -->
            <ng-container matColumnDef="sentOn">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Изпратено на </th>
                <td mat-cell *matCellDef="let row"> {{row.sentOn | date: 'dd.MM.yy HH:mmч'}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ВИД </th>
                <td mat-cell *matCellDef="let row"> {{row.type}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Статус </th>
                <td mat-cell *matCellDef="let row"> <span class="badge badge-primary">{{row.status}}</span>
 </td>
            </ng-container>

            <ng-container matColumnDef="service">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Услуга </th>
                <td mat-cell *matCellDef="let row">
                    {{row.service}}
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
            <tr mat-row *matRowDef="let row; columns: columndefs;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>