.user-book-service-container {
  overflow-y: auto;
  max-height: 450px;
}

.service-name {
  flex: 1; /* Allow the service name to grow to fill available space */
  word-wrap: break-word; /* Wrap long words to new line */
}

.custom-shadow {
  box-shadow: 0px 0px 4px 0px;
}

.cursor-pointer {
  cursor: pointer;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}
