<section class="my-2">
  <h4>Изберете категория</h4>
  <mat-divider class="mb-2"></mat-divider>

  <article class="row justify-content-center user-book-service-container">
    <!-- Start Category -->
    <article class="col-md-12 bg-white border border-primary custom-shadow rounded p-2 my-1"
      *ngFor="let category of serviceCategories">
      <div class="d-flex justify-content-between cursor-pointer position-relative"
        (click)="categorySelect(category.id)">
        <span class="text-dark fw-400 service-name">{{category.name | truncate: truncationLength}}</span>
        <span class="fw-500">от 10 лв.</span>

        <span class="expand-collapse" *ngIf="category.name.length >= 25"
          (click)="toggleServiceDetails($event, category)">
          <i class="text-light-blue fas"
            [ngClass]="{'fa-chevron-down': categoryStates[category.id] === 'collapsed', 'fa-chevron-up': categoryStates[category.id] === 'expanded'}">
          </i>
        </span>
      </div>

      <div class="text-dark fw-400 lh-18 mb-1" *ngIf="category.name.length >= 25"
        [@expandCollapse]="categoryStates[category.id]">
        Пълно наименование: {{category.name}}
      </div>
    </article>
    <!-- End Category -->
  </article>
</section>