<section class="my-2">
  <h4>Изберете категория</h4>
  <mat-divider class="mb-2"></mat-divider>

  <article class="row justify-content-center">
    <!-- Start Category -->
    <article class="col-md-12 bg-white border border-primary custom-shadow rounded p-2 my-1">
      <div class="d-flex justify-content-between cursor-pointer" (click)="nextStep()">
        <span class="text-dark fw-400">Дамска подстрижка</span>
        <span class="fw-500">от 10 лв.</span>
      </div>
    </article>
    <!-- End Category -->

    <article class="col-md-12 bg-white border border-primary custom-shadow rounded p-2 my-1">
      <div class="d-flex justify-content-between cursor-pointer" (click)="nextStep()">
        <span class="text-dark fw-400">Мъжка подстрижка</span>
        <span class="fw-500">от 10 лв.</span>
      </div>
    </article>

    <article class="col-md-12 bg-white border border-primary custom-shadow rounded p-2 my-1">
      <div class="d-flex justify-content-between cursor-pointer" (click)="nextStep()">
        <span class="text-dark fw-400">Детска подстрижка</span>
        <span class="fw-500">от 10 лв.</span>
      </div>
    </article>
  </article>
</section>