<section class="container user-pre-booking-container">
    <article class="row justify-content-center align-items-center">
        <article class="col-md-5 col-11 text-center border custom-shadow rounded business-card">
            <div class="business-profile-container"></div>
            <figure class="business-profile-fig">
                <img class="business-profile" src="{{facility.imageBase64}}" alt="" />
            </figure>

            <article class="px-3">
                <div class="mt-2">
                    <h2 class="text-muted mb-min-10">{{facility.name}}</h2>
                    <h4 class="text-muted mb-min-10">{{facility.category}}</h4>
                    <i>
                        <p class="text-muted">Адрес: Бул. България, София 1000</p>
                    </i>
                </div>

                <div class="row justify-content-center mt-5">
                    <div class="col-12 my-2">
                        <a routerLink="/user-calendar" mat-raised-button class="rounded px-5" color="primary">
                            Резервирай час
                        </a>
                    </div>
                    <!-- <div class="col-12 my-2">
                        <button mat-raised-button class="rounded light-blue px-5" color="primary">
                            Абонирай се
                        </button>
                    </div> -->

                    <div class="col-12 my-2">
                        <button mat-stroked-button class="rounded-pill text-orange" [matMenuTriggerFor]="menu"
                            #trigger="matMenuTrigger">
                            Сподели
                            <i class="fas fa-share-square"></i>
                        </button>
                    </div>
                </div>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item *ngIf="facility.facebookLink">
                        <i class="fab fa-facebook-messenger text-blue-facebook fs-22"></i>
                        <span>
                            Facebook
                        </span>
                    </button>
                    <button mat-menu-item *ngIf="facility.facebookLink">
                        <i class="fab fa-instagram text-pink-instagram fs-22"></i>
                        <span>
                            Instagram
                        </span>
                    </button>
                    <button mat-menu-item *ngIf="facility.facebookLink">
                        <i class="fab fa-viber text-blue-facebook fs-22"></i>
                        <span>
                            Viber
                        </span>
                    </button>
                    <button mat-menu-item *ngIf="facility.facebookLink">
                        <i class="fab fa-whatsapp text-green fs-22"></i>
                        <span>
                            WhatsApp
                        </span>
                    </button>
                    <button mat-menu-item>
                        <i class="far fa-copy text-dark fs-22"></i>
                        <span>
                            Копирай връзката
                        </span>
                    </button>
                </mat-menu>

                <div class="d-flex justify-content-center text-center mt-5">
                    <span class="fs-34 cursor-pointer icon-link" matTooltip="{{facility.facebookLink}}" *ngIf="facility.facebookLink">
                        <i class="fab fa-facebook text-blue-facebook" [class.bounce]="triggerAnimation"
                            style="animation-delay: 0.1s;"></i>
                    </span>
                    <span class="fs-34 cursor-pointer icon-link" matTooltip="{{facility.instagramLink}}" *ngIf="facility.facebookLink">
                        <i class="fab fa-instagram text-pink-instagram" [class.bounce]="triggerAnimation"
                            style="animation-delay: 0.2s;"></i>
                    </span>
                    <span class="fs-34 cursor-pointer icon-link" matTooltip="{{facility.phone}}" *ngIf="facility.facebookLink">
                        <i class="fas fa-mobile-alt text-darke-magenta" [class.bounce]="triggerAnimation"
                            style="animation-delay: 0.3s;"></i>
                    </span>
                    <span class="fs-34 cursor-pointer icon-link" matTooltip="{{facility.email}}" *ngIf="facility.facebookLink">
                        <i class="far fa-envelope text-red" [class.bounce]="triggerAnimation"
                            style="animation-delay: 0.4s;"></i>
                    </span>
                </div>

                <!-- Hidden - Its Filler Info -->
                <div class="d-flex justify-content-center" *ngIf="false">
                    <span class="px-4 info-fs-24 text-info icon-info cursor-pointer" matTooltip="Брой потребители">
                        <i class="fas fa-users"></i>
                        56
                    </span>
                    <span class="px-4 info-fs-24 text-info icon-info cursor-pointer" matTooltip="Брой изпълнени услуги">
                        <i class="far fa-check-circle"></i>
                        896
                    </span>
                    <span class="px-4 info-fs-24 text-info icon-info cursor-pointer" matTooltip="Брой споделяния">
                        <i class="fas fa-share-square"></i>
                        237
                    </span>
                </div>
            </article>
        </article>
    </article>
</section>