.users-container {
  margin-top: 150px;
}

.fixed-layout {
  table-layout: fixed;
}

.fixed-layout th,
.fixed-layout td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.checkbox-filter {
  margin-top: 8px;
  transform: scale(1.5);
}

.ms-10 {
  margin-left: 25px;
}

.custom-shadow {
  box-shadow: 0px 4px 8px 0px #7986cb;
}
