.container {
  padding: 20px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.custom-dialog {
  max-width: 80%;
}

.header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.page-title {
  font-size: 24px;
  margin: 0;
}

.user-item {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
}

.user-item h3 {
  font-size: 18px;
  margin: 0;
}

.user-item p {
  color: #777;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-shadow {
  box-shadow: 0px 4px 8px 0px #7986cb;
}

::ng-deep .mat-paginator-container {
  padding: 0 !important;
}

.card {
  background-color: transparent;
  border: none;
}

.card-header {
  background-color: white;
}

.list-container {
  padding: 0 24px;
  cursor: pointer;
}

.fs-20 {
  font-size: 20px;
}

.fs-22 {
  font-size: 22px;
}

.mat-tab-body-content {
  overflow: hidden;
}

.gray-background {
  background-color: #f3efef;
}

.br-8 {
  border-radius: 8px;
}

/* Media Queries */
@media (max-width: 768px) {
  .list-container {
    padding: 0 10px;
  }

  .pb-90 {
    padding-bottom: 90px !important;
  }

  .mat-table {
    border-collapse: separate !important;
    border-spacing: 0 14px !important;
  }
}
