<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar js-sticky-header site-navbar-target" role="banner"
  style="background-color: white; width: 100%">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 col-xl-2">
        <h1 class="mb-0 site-logo">
          <a routerLink="home-information">BOOKIE<span class="text-primary">.</span>
          </a>
        </h1>
      </div>

      <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">


            <li class="has-children" *ngIf="false">
              <a routerLink="profile" class="nav-link">
                За Потребителите!
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
              <ul class="dropdown">
                <li>
                  <a routerLink="login" class="nav-link">Вход</a>
                </li>
                <li>
                  <a routerLink="register" class="nav-link">Регистрация</a>
                </li>
                <li>
                  <a routerLink="forgotten-password" class="nav-link">Забравена парола</a>
                </li>
                <li>
                  <a routerLink="email-confirm" class="nav-link">Потрърждаване на имайл</a>
                </li>
                <li>
                  <a routerLink="user-home/5346486" class="nav-link">Начало</a>
                </li>
                <li>
                  <a routerLink="self-booking" class="nav-link">Запазване на час</a>
                </li>
                <li>
                  <a routerLink="terms-conditions" class="nav-link">Правила и условия</a>
                </li>
              </ul>
            </li>
            <li>
              <a routerLink="home-information" class="nav-link">Начало</a>
            </li>

            <li class="has-children" *ngIf="authService.isAuthenticated()">
              <a routerLink="calendar" class="nav-link">
                Календар
              </a>
            </li>
            <li class="has-children" *ngIf="authService.isAuthenticated()">
              <a class="nav-link">
                Профил
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
              <ul class="dropdown">
                <li>
                  <a routerLink="profile" class="nav-link"> Настройки </a>
                </li>
                <li>
                  <a routerLink="users" class="nav-link"> Абонирани потребители </a>
                </li>
                <li>
                  <a routerLink="booking-confirmation-list" class="nav-link">
                    Резервации за потвърждение
                  </a>
                </li>
              </ul>
            </li>
            <li>
              <a class="nav-link cursor-pointer" (click)="openDialog()" *ngIf="authService.isAuthenticated()">
                <i class="fas fa-qrcode"></i>
              </a>
            </li>
            <li *ngIf="!authService.isAuthenticated()">
              <a routerLink="login" class="nav-link">Вход / Регистрация</a>
            </li>
            <li *ngIf="authService.isAuthenticated()">
              <a routerLink="home-information" (click)="authService.logout()" class="nav-link">Изход</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>