<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar js-sticky-header site-navbar-target" role="banner"
  style="background-color: white; width: 100%">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6 col-xl-2">
        <h1 class="mb-0 site-logo">
          <a routerLink="/home-information">BOOKIE<span class="text-primary">.</span>
          </a>
        </h1>
      </div>

      <div class="col-12 col-md-10 d-none d-xl-block">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">


            <li class="has-children" *ngIf="false">
              <a routerLink="profile" class="nav-link">
                За Потребителите!
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
              <ul class="dropdown">
                <li>
                  <a routerLink="login" class="nav-link">Вход</a>
                </li>
                <li>
                  <a routerLink="register" class="nav-link">Регистрация</a>
                </li>
                <li>
                  <a routerLink="forgotten-password" class="nav-link">Забравена парола</a>
                </li>
                <li>
                  <a routerLink="email-confirm" class="nav-link">Потрърждаване на имайл</a>
                </li>
                <li>
                  <a routerLink="user-home/5346486" class="nav-link">Начало</a>
                </li>
                <li>
                  <a routerLink="self-booking" class="nav-link">Запазване на час</a>
                </li>
                <li>
                  <a routerLink="/terms-conditions" class="nav-link">Правила и условия</a>
                </li>
              </ul>
            </li>
            <li>
              <a routerLink="home-information" class="nav-link">Начало</a>
            </li>

            <li class="has-children" *ngIf="authService.isAuthenticated()">
              <a routerLink="calendar" class="nav-link">
                Календар
              </a>
            </li>
            <li class="has-children" *ngIf="authService.isAuthenticated()">
              <a class="nav-link">
                Профил
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
              </a>
              <ul class="dropdown">
                <li>
                  <a routerLink="/profile" class="nav-link"> Настройки </a>
                </li>
                <li>
                  <a routerLink="users" class="nav-link"> Абонирани потребители </a>
                </li>
                <li>
                  <a routerLink="booking-confirmation-list" class="nav-link">
                    Резервации за потвърждение
                  </a>
                </li>
              </ul>
            </li>
            <li *ngIf="!authService.isAuthenticated()">
              <a routerLink="login" class="nav-link">Вход / Регистрация</a>
            </li>
            <li>
              <a class="nav-link cursor-pointer" (click)="openDialog()">
                <i class="fas fa-qrcode"></i>
              </a>
            </li>
            <li *ngIf="authService.isAuthenticated()">
              <a routerLink="home-information" (click)="authService.logout()" class="nav-link">Изход</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="col-6 d-sm-none">
        <nav class="navbar navbar-expand-sm navbar-light bg-white justify-content-end">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse sidenav" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">
                  Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  Link
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">
                    Action
                  </a>
                  <a class="dropdown-item" href="#">
                    Another action
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">
                    Something else here
                  </a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">
                  Disabled
                </a>
              </li>
            </ul>
          </div>
        </nav>
      </div>


    </div>
  </div>
</header>