<div class="content">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 contents">
                <div class="row justify-content-center">
                    <div class="col-md-9">
                        <div class="form-block">
                            <div class="mb-4">
                                <h3>Възстановяване на парола</h3>
                                <p class="mb-4">Рандом текст тук има</p>
                            </div>
                            <form [formGroup]="forgottenPasswordForm" (ngSubmit)="onSubmit()">
                                <mat-form-field class="w-100 mt-4">
                                    <mat-label>Имейл</mat-label>
                                    <input matInput id="email" type="email" formControlName="email">
                                    <mat-error
                                        *ngIf="forgottenPasswordForm.get('email').hasError('required') && forgottenPasswordForm.get('email').touched">
                                        Това поле е задължително.
                                    </mat-error>
                                    <mat-error
                                        *ngIf="forgottenPasswordForm.get('email').hasError('email') && forgottenPasswordForm.get('email').touched">
                                        Моля въведете валиден имейл адрес.
                                    </mat-error>
                                </mat-form-field>
                                <input type="submit" value="Изпрати" class="btn btn-pill text-white btn-block btn-primary mt-5">
                                <div class="pt-4">
                                    <a routerLink="login"><i class="fa fa-angle-left" aria-hidden="true"></i>
                                        Назад</a>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>