<div class="content">
  <div class="container">
    <section>
      <!-- Start Alert -->
      <ng-container *ngIf="requestStatus == 1">
        <div class="confirmed container">
          <app-static-alert-message alertMessage="Инструкции за смяна на паролата бяха изпратени
          успешно на дадения имейл." alertStyle="alert-success">
          </app-static-alert-message>
        </div>
      </ng-container>
      <!-- End Alert -->
    </section>
    <div class="row justify-content-center" *ngIf="requestStatus != 1">
      <div class="col-md-12 contents">
        <div class="row justify-content-center">
          <div class="col-md-9">
            <div class="form-block custom-shadow">
              <div class="mb-4">
                <h3>Смяна на парола</h3>
                <p>
                  Ще получите инструкции как да смените паролата си на посочения имейл
                </p>
              </div>
              <!-- Start Alert -->
              <ng-container *ngIf="requestStatus == 2">
                <app-static-alert-message alertMessage="Потребител с такъв имейл не съществува."
                  alertStyle="alert-danger">
                </app-static-alert-message>
              </ng-container>
              <!-- End Alert -->
              <form [formGroup]="forgottenPasswordForm" (ngSubmit)="onSubmit()">
                <div>
                  <label class="custom-field w-100 mt-1" [ngClass]="{'invalid-field': utilityService.HasError(forgottenPasswordForm, 'email', 'required') &&
                  utilityService.IsTouched(forgottenPasswordForm, 'email')}">
                    <input type="email" id="email" class="w-100" placeholder=" " formControlName="email" />
                    <span class="placeholder cursor-text">Имейл</span>
                  </label>
                  <mat-error *ngIf="
                      forgottenPasswordForm.get('email').hasError('required') &&
                      forgottenPasswordForm.get('email').touched
                    ">
                    Това поле е задължително.
                  </mat-error>
                  <mat-error *ngIf="
                      forgottenPasswordForm.get('email').hasError('email') &&
                      forgottenPasswordForm.get('email').touched
                    ">
                    Моля въведете валиден имейл адрес.
                  </mat-error>
                </div>

                <button type="submit" class="btn btn-pill text-white btn-block btn-primary mt-5"
                  [disabled]="requestStatus == -1">
                  <span *ngIf="requestStatus != -1">Изпрати</span>

                  <!-- <div
                    class="spinner-container d-flex justify-content-center"
                    *ngIf="requestStatus == -1"
                  >
                    <mat-spinner [diameter]="35"></mat-spinner>
                  </div> -->
                </button>
                <div class="pt-4">
                  <a routerLink="login"><i class="fa fa-angle-left" aria-hidden="true"></i>
                    Назад</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>