<div class="position-relative">
  <button mat-dialog-close class="custom-dialog-close-button">
    <mat-icon>close</mat-icon>
  </button>
  <h1 class="text-center" mat-dialog-title>Редактиране на услуга</h1>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="addServiceForm">
      <div class="w-100 mb-1">
        <label class="custom-field w-100" [ngClass]="{'invalid-field': utilityService.HasError(addServiceForm, 'newService', 'required') &&
          utilityService.IsTouched(addServiceForm, 'newService')}">
          <input type="text" class="w-100" placeholder=" " name="newService" formControlName="newService" />
          <span class="placeholder cursor-text">Редактиране на услуга</span>
        </label>

        <mat-error class="fs-11 m-bot-min-10" *ngIf="utilityService.HasError(addServiceForm, 'newService', 'required') &&
        utilityService.IsTouched(addServiceForm, 'newService')">
          Това поле е задължително.
        </mat-error>
      </div>

      <div class="w-100 mb-1">
        <label class="custom-field w-100" [ngClass]="{'invalid-field': utilityService.HasError(addServiceForm, 'newPrice', 'required') &&
          utilityService.IsTouched(addServiceForm, 'newPrice')}">
          <input type="number" min="0" class="w-100" placeholder=" " name="newPrice" formControlName="newPrice" />
          <span class="placeholder cursor-text">Редактиране на цена (в лева)</span>
        </label>

        <mat-error class="fs-11 m-bot-min-10" *ngIf="utilityService.HasError(addServiceForm, 'newPrice', 'required') &&
        utilityService.IsTouched(addServiceForm, 'newPrice')">
          Това поле е задължително.
        </mat-error>
      </div>

      <div class="w-100 mb-1">
        <label class="custom-field-select w-100" [ngClass]="{'invalid-select': utilityService.HasError(addServiceForm, 'newDuration', 'required') &&
        utilityService.IsTouched(addServiceForm, 'newDuration')}">
          <select formControlName="newDuration" placeholder=" " class="w-100">
            <option *ngFor="let time of durationArr; let i = index" value="{{ time.value }}">
              {{ time.value }} минути - продължителност
            </option>
          </select>
          <span class="placeholder-select cursor-text">Продължителност</span>
        </label>

        <mat-error class="fs-11 m-bot-min-10" *ngIf="utilityService.HasError(addServiceForm, 'newDuration', 'required') &&
        utilityService.IsTouched(addServiceForm, 'newDuration')">
          Това поле е задължително.
        </mat-error>
      </div>

      <div class="w-100 mb-1" *ngIf="false">
        <label class="custom-field w-100" [ngClass]="{'invalid-field': utilityService.HasError(addServiceForm, 'newDescription', 'required') &&
        utilityService.IsTouched(addServiceForm, 'newDescription')}">
          <input type="text" class="w-100" placeholder=" " name="newDescription" formControlName="newDescription" />
          <span class="placeholder cursor-text">Описание на услугата</span>
        </label>

        <mat-error class="fs-11 m-bot-min-10" *ngIf="utilityService.HasError(addServiceForm, 'newDescription', 'required') &&
        utilityService.IsTouched(addServiceForm, 'newDescription')">
          Това поле е задължително.
        </mat-error>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Затвори</button>
    <button mat-raised-button mat-dialog-close class="bg-primary text-white" (click)="onSubmit()"
      [disabled]="this.addServiceForm.invalid">
      Запази
    </button>
  </mat-dialog-actions>
</div>