<div class="form-block">
  <div class="mb-4">
    <h3>Вход в <strong>BOOOKIT</strong></h3>
    <p class="mb-4"></p>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="isLoginError">
    Грешна парола или имейл
  </div>
  <form [formGroup]="loginForm">
    <mat-form-field class="w-100 mt-4">
      <mat-label>Имейл</mat-label>
      <input matInput id="email" type="email" formControlName="email" />
      <mat-error
        *ngIf="
          utilityService.HasError(loginForm, 'email', 'required') &&
          utilityService.IsTouched(loginForm, 'email')
        "
      >
        Това поле е задължително.
      </mat-error>
      <mat-error
        *ngIf="
          utilityService.HasError(loginForm, 'email', 'email') &&
          utilityService.IsTouched(loginForm, 'email')
        "
      >
        Моля въведете валиден имейл адрес.
      </mat-error>
    </mat-form-field>
    <mat-form-field class="w-100 mt-3 mb-4">
      <mat-label>Парола</mat-label>
      <input
        matInput
        id="password"
        type="password"
        formControlName="password"
      />
      <mat-error
        *ngIf="
          utilityService.HasError(loginForm, 'password', 'required') &&
          utilityService.IsTouched(loginForm, 'password')
        "
      >
        Това поле е задължително.
      </mat-error>
      <mat-error
        *ngIf="
          utilityService.HasError(loginForm, 'password', 'minLength') &&
          utilityService.IsTouched(loginForm, 'password')
        "
      >
        Паролата, трябва да бъде поне 3 символа.
      </mat-error>
    </mat-form-field>

    <div class="d-flex mb-5 align-items-center">
      <mat-checkbox formControlName="rememberMe">Запомни ме</mat-checkbox>
      <span class="ml-auto"
        ><a routerLink="/forgotten-password" class="forgot-pass"
          >Забравена парола</a
        ></span
      >
    </div>

    <a
      (click)="onSubmit()"
      class="btn btn-pill text-white btn-block btn-primary"
    >
      <div *ngIf="isLoading == false">ВХОД</div>
      <div
        class="spinner-container d-flex justify-content-center"
        *ngIf="isLoading == true"
      >
        <mat-spinner [diameter]="35"></mat-spinner>
      </div>
    </a>

    <span class="d-block text-center my-4 text-muted"> или влезте с</span>

    <div class="social-login text-center">
      <a href="#" class="facebook mr-4">
        <span class="mr-3">
          <i class="fa-brands fa-facebook"></i>
        </span>
      </a>
      <a href="#" class="twitter mr-4">
        <span class="icon-twitter mr-3">
          <i class="fa-brands fa-apple"></i>
        </span>
      </a>
      <a href="#" class="google">
        <span class="icon-google mr-3">
          <i class="fa-brands fa-google"></i>
        </span>
      </a>
    </div>
  </form>
</div>
