<div class="form-block" *ngIf="showPage">
  <div class="mb-4">
    <h3>Вход в <strong>BOOOKIT</strong></h3>
    <p class="mb-4"></p>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="isLoginError">
    Грешна парола или имейл
  </div>
  <form [formGroup]="loginForm">
    <div>
      <label class="custom-field w-100 mt-4">
        <input type="email" id="email" class="w-100" placeholder=" " formControlName="email" />
        <span class="placeholder cursor-text">Имейл</span>
      </label>
      <mat-error *ngIf="
          utilityService.HasError(loginForm, 'email', 'required') &&
          utilityService.IsTouched(loginForm, 'email')
        ">
        Това поле е задължително.
      </mat-error>
      <mat-error *ngIf="
          utilityService.HasError(loginForm, 'email', 'email') &&
          utilityService.IsTouched(loginForm, 'email')
        ">
        Моля въведете валиден имейл адрес.
      </mat-error>
    </div>

    <div>
      <label class="custom-field w-100 mt-4">
        <input type="password" id="password" class="w-100" placeholder=" " formControlName="password" />
        <span class="placeholder cursor-text">Парола</span>
      </label>
      <mat-error *ngIf="
          utilityService.HasError(loginForm, 'password', 'required') &&
          utilityService.IsTouched(loginForm, 'password')
        ">
        Това поле е задължително.
      </mat-error>
      <mat-error *ngIf="
          utilityService.HasError(loginForm, 'password', 'minLength') &&
          utilityService.IsTouched(loginForm, 'password')
        ">
        Паролата, трябва да бъде поне 3 символа.
      </mat-error>
    </div>

    <div class="d-flex mb-5 align-items-center">
      <mat-checkbox formControlName="rememberMe">Запомни ме</mat-checkbox>
      <span class="ml-auto"><a routerLink="forgotten-password" class="forgot-pass">Забравена парола</a></span>
    </div>

    <a (click)="onSubmit()" class="btn btn-pill text-white btn-block btn-primary">
      ВХОД
    </a>

    <span class="d-block text-center my-4 text-muted"> или влезте с</span>

    <div class="social-login text-center">
      <a href="#" class="facebook mr-4">
        <span class="mr-3">
          <i class="fa-brands fa-facebook"></i>
        </span>
      </a>
      <a href="#" class="twitter mr-4">
        <span class="icon-twitter mr-3">
          <i class="fa-brands fa-apple"></i>
        </span>
      </a>
      <a href="#" class="google">
        <span class="icon-google mr-3">
          <i class="fa-brands fa-google"></i>
        </span>
      </a>
    </div>
  </form>
</div>