<div class="position-relative">
    <button mat-icon-button mat-dialog-close class="custom-dialog-close-button">
        <mat-icon>close</mat-icon>
    </button>
    <h1 mat-dialog-title class="text-center mb-3 mt-2" style="color: black">
        <!-- ============ Fix Again ============ -->
        Добави час - <b>{{ data.date.getDate() }}
            {{ data.date.toLocaleString('bg-BG', { month: 'long' }) }}
            {{ data.date.getFullYear() }}г.</b>
    </h1>
    <div mat-dialog-content>
        <div class="bg-white">
            <!-- Add New Hour -->
            <form class="form mb-0 mt-0 p-2" [formGroup]="data.bookingForm">
                <div class="form-container mb-0 mt-0 pb-0 pt-0">

                    <!-- Name -->
                    <div class="w-100 mb-1">
                        <label class="custom-field w-100" [ngClass]="{'invalid-field': utilityService.HasError(data.bookingForm, 'name', 'required') &&
                utilityService.IsTouched(data.bookingForm, 'name')}">
                            <input class="w-100" placeholder=" " name="name" formControlName="name"
                                [matAutocomplete]="auto" />
                            <span class="placeholder cursor-text">Име Фамилия</span>
                        </label>

                        <mat-error class="fs-11 m-bot-min-10" *ngIf="utilityService.HasError(data.bookingForm, 'name', 'required') &&
              utilityService.IsTouched(data.bookingForm, 'name')">
                            Това поле е задължително.
                        </mat-error>

                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                            <mat-option class="custom-mat-option border-bottom"
                                *ngFor="let option of data.filteredOptions | async" [value]="option">
                                <span>{{ option.name }} - {{ option.phoneNumber }}</span><br />
                                <span><small>{{ option.email }}</small></span>
                            </mat-option>
                        </mat-autocomplete>
                    </div>

                    <!-- Phone -->
                    <div class="w-100 mb-1">
                        <label class="custom-field w-100" [ngClass]="{'invalid-field': utilityService.HasError(data.bookingForm, 'phone', 'required') &&
                utilityService.IsTouched(data.bookingForm, 'phone')}">
                            <input class="w-100" placeholder=" " name="phone" formControlName="phone"
                                [matAutocomplete]="auto2" />
                            <span class="placeholder cursor-text">Телефон</span>
                        </label>

                        <mat-error class="fs-11 m-bot-min-10" *ngIf="utilityService.HasError(data.bookingForm, 'phone', 'required') &&
              utilityService.IsTouched(data.bookingForm, 'phone')">
                            Това поле е задължително.
                        </mat-error>

                        <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                            <mat-option class="custom-mat-option border-bottom"
                                *ngFor="let option of data.filteredPhoneOptions | async" [value]="option">
                                <span>{{ option.name }} - {{ option.phoneNumber }}</span><br />
                                <span><small>{{ option.email }}</small></span>
                            </mat-option>
                        </mat-autocomplete>
                    </div>

                    <!-- Email -->
                    <div class="w-100 mb-1">
                        <label class="custom-field w-100" [ngClass]="{'invalid-field': utilityService.HasError(data.bookingForm, 'email', 'required') &&
                utilityService.IsTouched(data.bookingForm, 'email')}">
                            <input class="w-100" placeholder=" " name="email" formControlName="email"
                                [matAutocomplete]="autoEmail" />
                            <span class="placeholder cursor-text">Имейл</span>
                        </label>

                        <mat-error class="fs-11 m-bot-min-10" *ngIf="utilityService.HasError(data.bookingForm, 'email', 'required') &&
              utilityService.IsTouched(data.bookingForm, 'email')">
                            Това поле е задължително.
                        </mat-error>

                        <mat-autocomplete #autoEmail="matAutocomplete" (optionSelected)="onOptionSelected($event)">
                            <mat-option class="custom-mat-option border-bottom"
                                *ngFor="let option of data.filteredEmailOptions | async" [value]="option">
                                <span>{{ option.name }} - {{ option.phoneNumber }}</span><br />
                                <span><small>{{ option.email }}</small></span>
                            </mat-option>
                        </mat-autocomplete>
                    </div>

                    <!-- Hour -->
                    <div class="w-100 mb-1">
                        <label class="custom-field-select w-100" [ngClass]="{'invalid-select': utilityService.HasError(data.bookingForm, 'timestamp', 'required') &&
                utilityService.IsTouched(data.bookingForm, 'timestamp')}">
                            <select formControlName="timestamp" placeholder=" " class="w-100">
                                <option [disabled]="booking.bookingId" *ngFor="let booking of data.bookings"
                                    [value]="booking.timestamp | date : 'HH:mm'">{{ booking.timestamp | date : 'HH:mm'
                                    }}
                                </option>
                            </select>
                            <span class="placeholder-select cursor-text">Час</span>
                        </label>

                        <mat-error class="fs-11 m-bot-min-10" *ngIf="utilityService.HasError(data.bookingForm, 'timestamp', 'required') &&
              utilityService.IsTouched(data.bookingForm, 'timestamp')">
                            Това поле е задължително.
                        </mat-error>
                    </div>

                    <!-- Duration -->
                    <div class="w-100 mb-1">
                        <label class="custom-field-select w-100" [ngClass]="{'invalid-select': utilityService.HasError(data.bookingForm, 'duration', 'required') &&
                utilityService.IsTouched(data.bookingForm, 'duration')}">
                            <select formControlName="duration" placeholder=" " class="w-100">
                                <option *ngFor="let time of data.durationArr; let i = index" value="{{ time.value }}">
                                    {{ time.value }} минути - продължителност
                                </option>
                            </select>
                            <span class="placeholder-select cursor-text">Продължителност</span>
                        </label>

                        <mat-error class="fs-11 m-bot-min-10" *ngIf="utilityService.HasError(data.bookingForm, 'duration', 'required') &&
              utilityService.IsTouched(data.bookingForm, 'duration')">
                            Това поле е задължително.
                        </mat-error>
                    </div>

                    <!-- Services -->
                    <div class="w-100 mb-1">
                        <label class="custom-field-select w-100" [ngClass]="{
                        'invalid-field':
                            utilityService.HasError(
                            data.bookingForm,
                            'serviceCategory',
                            'required'
                            ) && utilityService.IsTouched(data.bookingForm, 'serviceCategory')
                        }">

                            <select formControlName="serviceCategory" placeholder=" " class="w-100" [ngClass]="{'invalid-select': utilityService.HasError(data.bookingForm, 'serviceCategory', 'required') &&
                            utilityService.IsTouched(data.bookingForm, 'serviceCategory')}">
                                <ng-container *ngFor="let category of serviceCategories; let i = index">
                                    <option selected hidden value="">Моля иберете услуга</option>
                                    <option class="service-category" disabled value="{{ i }}">
                                        {{ category.name }}
                                    </option>
                                    <ng-container *ngFor="let service of category.services; let j = index">
                                        <option value="{{ service.id }}">
                                            {{ service.name }}
                                        </option>
                                    </ng-container>
                                </ng-container>
                            </select>

                            <span class="placeholder-select cursor-text">Услуга</span>
                        </label>

                        <mat-error class="fs-11 m-bot-min-10" *ngIf="
                        utilityService.HasError(
                            data.bookingForm,
                            'serviceCategory',
                            'required'
                        ) && utilityService.IsTouched(data.bookingForm, 'serviceCategory')
                        ">
                            Това поле е задължително.
                        </mat-error>
                    </div>

                    <!-- Note -->
                    <div class="w-100 mb-1">
                        <div class="w-100 mb-0 mt-0 pb-0 pt-0">
                            <label class="custom-field w-100">
                                <input class="w-100" placeholder=" " name="note" formControlName="note" />
                                <span class="placeholder cursor-text">Бележка</span>
                            </label>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-end mx-2" mat-dialog-actions>
        <button mat-stroked-button color="danger" class="rounded-pill" mat-dialog-close (click)="cancelEvent()">
            Отказ
        </button>
        <button mat-stroked-button color="primary" class="rounded-pill" cdkFocusInitial (click)="onSubmit()"
            [disabled]="!data.bookingForm.valid">
            Добави
        </button>
    </div>
</div>