<section class="container user-pre-booking-container">
  <article class="row justify-content-end p-1 mb-3">
    <article class="col-12">
      <h6>
        <span class="cursor-pointer" (click)="navigate('user-home/54654654')">
          Начало
        </span>
        /
        <u>Предприятия</u>
      </h6>
    </article>
  </article>

  <article class="row justify-content-center align-items-center">
    <article
      class="col-md-3 col-sm-12 mx-2 my-3 border shadow text-center rounded business-card cursor-pointer"
      (click)="navigate('user-calendar')"
    >
      <div class="mt-2">
        <span>Потребители</span>
        <p class="fs-30">54</p>
      </div>

      <figure>
        <img class="businessProfile" src="assets/images/avatar-1.jpg" alt="" />
      </figure>

      <p>Салон коса и стил</p>
    </article>
    <article
      class="col-md-3 col-sm-12 mx-2 my-3 border shadow text-center rounded business-card cursor-pointer"
      (click)="navigate('user-calendar')"
    >
      <div class="mt-2">
        <span>Потребители</span>
        <p class="fs-30">54</p>
      </div>

      <figure>
        <img class="businessProfile" src="assets/images/avatar-1.jpg" alt="" />
      </figure>

      <p>Салон коса и стил</p>
    </article>
    <article
      class="col-md-3 col-sm-12 mx-2 my-3 border shadow text-center rounded business-card cursor-pointer"
      (click)="navigate('user-calendar')"
    >
      <div class="mt-2">
        <span>Потребители</span>
        <p class="fs-30">54</p>
      </div>

      <figure>
        <img class="businessProfile" src="assets/images/avatar-1.jpg" alt="" />
      </figure>

      <p>Салон коса и стил</p>
    </article>
  </article>
</section>
