<section class="container">
  <!-- <div class="spinner-container" *ngIf="requestStatus==0">
    <mat-spinner></mat-spinner>
  </div> -->

  <!-- =========== When Respons is fixed remove '!' from 'isConfirmed'  =========== -->
  <div class="confirmed container" *ngIf="requestStatus==1">
    <article class="row text-center">
      <h1 class="col-12 text-secondary pb-3 text-break">Поздравления!</h1>
      <h3 class="col-12 text-secondary text-break">
        Имейлът Ви беше потвърден успешно.
      </h3>
      <h3 class="col-12 text-secondary text-break">
        Вече можете да продължите.
      </h3>
      <mat-icon class="col-12 mt-5 icon-style-success">check_circle</mat-icon>
      <div class="col-12">
        <a mat-raised-button class="bg-green login-button" routerLink="/login">
          Вход
        </a>
      </div>
    </article>
  </div>

  <!-- =========== When Respons is fixed remove '!' from 'isConfirmedFail'  =========== -->
  <div class="confirmed container" *ngIf="requestStatus==2">
    <div class="row text-center">
      <h1 class="col-12 text-secondary pb-3 text-break">
        Опа... Нещо се случи!
      </h1>
      <h3 class="col-12 text-secondary text-break">
        Имейлът Ви <strong class="text-dark">НЕ</strong> беше потвърден.
      </h3>

      <h3 class="col-12 text-secondary text-break">Опитайте отново.</h3>
      <mat-icon class="col-12 mt-5 icon-style-fail">cancel</mat-icon>
    </div>
  </div>
</section>