<div class="position-relative">
    <button mat-dialog-close class="custom-dialog-close-button">
        <mat-icon>close</mat-icon>
    </button>
    <article mat-dialog-title class="text-center">
        <div [ngClass]="{'icon-separator': currentSize == 'large'}">
            <i class="fas fa-qrcode text-light-blue title-icon"></i>
        </div>
        <h3 class="mb-min-10">Сканирайте QR кода</h3>
        <p class="text-muted">За да запазите час</p>
    </article>
    <div mat-dialog-content class="top-box">
        <article class="row justify-content-center">
            <article class="col-10 text-center qr-img">
                <app-qr-code [currentQrCode]="facilityLink" [qrCodeColor]="'black'"
                    [customWidth]="viewSize"></app-qr-code>
            </article>
        </article>
        <div class="separator">Или копирайте линка</div>
        <article class="row align-items-center">
            <div class="col-md-10 col-sm-12">
                <label class="custom-field w-100">
                    <input type="text" id="text" class="w-100" placeholder=" " [value]="facilityLink" disabled />
                    <span class="placeholder cursor-text">Линк за регистрация</span>
                </label>
            </div>
            <div class="col-md-2 col-sm-12">
                <button mat-raised-button class="mt-11 mb-11" (click)="copyLink()">
                    <i class="far fa-copy text-dark fs-22"></i>
                </button>
            </div>
        </article>
        <div class="separator my-2">Свалете QR кода оттук</div>
        <div class="w-100 mb-1">
            <button mat-raised-button class="w-100">
                <i class="fas fa-file-download text-muted fs-22"></i>
                Свали QR кода
            </button>
        </div>
    </div>
    <div mat-dialog-actions align="end">
        <button mat-stroked-button color="danger" class="rounded-pill" mat-dialog-close>
            Затвори
        </button>
        <button mat-stroked-button color="primary" class="rounded-pill" [matMenuTriggerFor]="menu"
            #trigger="matMenuTrigger">
            Сподели
            <i class="fas fa-share-square"></i>
        </button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                <i class="fab fa-facebook-messenger text-blue-facebook fs-22"></i>
                <span>
                    Facebook
                </span>
            </button>
            <button mat-menu-item>
                <i class="fab fa-instagram text-pink-instagram fs-22"></i>
                <span>
                    Instagram
                </span>
            </button>
            <button mat-menu-item>
                <i class="fab fa-viber text-blue-facebook fs-22"></i>
                <span>
                    Viber
                </span>
            </button>
            <button mat-menu-item>
                <i class="fab fa-whatsapp text-green fs-22"></i>
                <span>
                    WhatsApp
                </span>
            </button>
            <button mat-menu-item>
                <i class="fas fa-file-download text-muted fs-22"></i>
                <span>
                    Свали QR кода
                </span>
            </button>
        </mat-menu>
    </div>
</div>