.qr-img-prev {
  padding: 48px;
}

.qr-img-container {
  background-color: #007bff;
  border-radius: 14px;
  padding: 20px 0;
}

.qr-img {
  width: 50%;
}

.fs-26 {
  font-size: 26px;
}

.fs-22 {
  font-size: 22px;
}

.text-pink-instagram {
  color: #e22f6a;
}

.text-blue-facebook {
  color: #4267b3;
}

.text-darker-gray {
  color: #715f5f;
}

.text-darke-magenta {
  color: darkmagenta;
}

.text-red {
  color: red;
}

.text-green {
  color: #31d94f;
}

.text-forest-green {
  color: forestgreen;
}

/* Media Queries */
@media (max-width: 600px) {
  .qr-img-prev {
    padding: 0;
  }

  .qr-img-container {
    padding: 0;
  }

  .qr-img {
    width: 100%;
  }
}
