<div class="container light-style flex-grow-1 my-5 py-5 pb-90">
  <div class="card overflow-hidden custom-shadow">
    <div class="row no-gutters row-bordered row-border-light">
      <div class="col-md-3 pt-0">
        <app-side-tab-selection-list [activeTab]="activeTab" [tabs]="pageTabs"
          (emitedActiveTabChange)="handleActiveTabChange($event)"></app-side-tab-selection-list>
      </div>
      <div class="col-md-9">
        <app-general *ngIf="activeTab == 1" [ngClass]="{ 'unactive-tab-content': activeTab != 1 }"></app-general>
        <app-security *ngIf="activeTab == 2" [ngClass]="{ 'unactive-tab-content': activeTab != 2 }"></app-security>
        <app-notification *ngIf="activeTab == 3" [ngClass]="{ 'unactive-tab-content': activeTab != 3 }">
        </app-notification>
        <app-services-tab [hasHeader]="true" *ngIf="activeTab == 4" [ngClass]="{ 'unactive-tab-content': activeTab != 4 }"></app-services-tab>
        <app-calendar-profile *ngIf="activeTab == 5" [ngClass]="{ 'unactive-tab-content': activeTab != 5 }"></app-calendar-profile>
        <app-promotions *ngIf="activeTab == 6" [ngClass]="{ 'unactive-tab-content': activeTab != 6 }">
        </app-promotions>
      </div>
    </div>
  </div>
</div>