<section>
  <div class="container p-2 custom-container-styles">
    <h1 class="mb-4">Правила и условия ползване</h1>

    <ol>
      <li>
        <h4>Прилагане на условията</h4>
        <p>
          Посещавайки и/или предприемайки действие в нашето приложение, вие
          потвърждавате, че сте съгласни и обвързани с посочените по-долу
          условия. Тези условия се прилагат за уебсайта, имейл кореспонденцията
          или всяка друга комуникация.
        </p>
      </li>
      <li>
        <h4>Услуги</h4>
        <p>
          Нашето приложение предоставя платформа на потребителите за резервиране
          на часове за различни услуги.
        </p>
      </li>
      <li>
        <h4>Отговорности на потребителя</h4>
        <p>
          Потребителите носят отговорност за предоставянето на точна и валидна
          информация по време на процеса на резервиране, включително валиден
          имейл адрес. Ние не носим отговорност за проблеми, свързани с
          доставката на услугата или комуникацията, ако потребителят не
          предостави точна информация, включително валиден имейл адрес.
        </p>
      </li>
      <li>
        <h4>Плащания и възстановявания</h4>
        <p>
          Потребителите носят отговорност за всички такси, свързани с
          резервираните услуги. Политиките за възстановявания могат да варират в
          зависимост от условията на доставчика на услугата. Потребителите
          следва да прегледат специфичните политики на доставчика на услугата за
          подробности относно възстановяванията.
        </p>
      </li>
      <li>
        <h4>Доставчици на услуги</h4>
        <p>
          Доставчиците на услуги носят отговорност за точността и наличността на
          предлаганите от тях услуги на платформата. Доставчиците на услуги
          носят отговорност за спорове или проблеми, свързани с предоставянето
          на услугите, и потребителите трябва да се свържат с тях директно за
          разрешение.
        </p>
      </li>
      <li>
        <h4>Поведение на потребителя</h4>
        <p>
          Потребителите трябва да използват платформата отговорно и в
          съответствие с всички приложими закони и регулации. Потребителите не
          трябва да се ангажират в измамни, злоупотребни или вредни дейности на
          платформата.
        </p>
      </li>
      <li>
        <h4>Интелектуална собственост</h4>
        <p>
          Цялостното съдържание и материали, предоставени на приложението,
          включително, но не само, текст, изображения и лога, са защитени с
          права върху интелектуалната собственост на нейните лицензианти.
          Потребителите не могат да използват, възпроизвеждат или
          разпространяват каквито и да било съдържание или материали от
          платформата без предварително писмено съгласие.
        </p>
      </li>
      <li>
        <h4>Защита на личните данни и сигурност на данните</h4>
        <p>
          Ние се ангажираме да защитаваме данните и личната информация на
          потребителите. Моля, обърнете се към нашата Политика за поверителност,
          за да научите повече за начина, по който събираме, използваме и
          защитаваме вашата лична информация.
        </p>
      </li>
      <li>
        <h4>Прекратяване на акаунта</h4>
        <p>
          Притежаваме правото да прекратим акаунти на потребители за нарушение
          на тези условия или по всяко друго лично усмотрение.
        </p>
      </li>
      <li>
        <h4>Разрешаване на спорове</h4>
        <p>
          Всички спорове или проблеми следва да бъдат решавани чрез преговори,
          посредничество или други приемливи средства за разрешаване. В случай
          на неразрешени спорове, потребителите и платформата се съгласяват с
          ексклузивната юрисдикция на съдилищата в [вашата юрисдикция] за
          съдебни производства.
        </p>
      </li>
    </ol>
    <hr />
    <p>
      Тези Условия за ползване подлежат на промяна, и потребителите се
      насърчават да ги преглеждат периодично за актуализации. С продължаването
      на използването на приложението, вие приемате и се съгласявате с
      най-новата версия на тези условия. Ако имате въпроси или проблеми, моля,
      свържете се с нас на [вашия контактен имейл].
    </p>

    <h1 class="my-4">Политика за поверителност</h1>

    <ol>
      <li>
        <h4>Събиране на лични данни</h4>
        <p>
          При използване на нашето Booking приложение ние можем да събираме
          лични данни от потребителите, включително, но не само, име, имейл
          адрес, контактна информация и информация, свързана с резервациите.
        </p>
      </li>
      <li>
        <h4>Използване на лични данни</h4>
        <p>
          Личните данни, които събираме, могат да се използват за следните цели:
        </p>
        <ol>
          <li>Обработка на резервации и услуги на приложението.</li>

          <li>
            Изпращане на уведомления и информация свързани с резервациите.
          </li>

          <li>
            Подобряване на потребителския опит и персонализиране на услугите.
          </li>

          <li>Поддръжка и обслужване на потребителите.</li>
        </ol>
      </li>
      <li>
        <h4>Споделяне на лични данни</h4>
        <p>
          Ние няма да споделяме лични данни с трети страни без вашето изрично
          съгласие, освен когато това е необходимо за изпълнението на услугите,
          съгласно законовите изисквания или за защита на нашите права и
          интереси.
        </p>
      </li>
      <li>
        <h4>Съхранение на лични данни</h4>
        <p>
          Личните данни се съхраняват в съответствие с приложимите законови
          изисквания и за период, необходим за целите, за които са били събрани.
        </p>
      </li>

      <li>
        <h4>Сигурност на данните</h4>
        <p>
          Ние предприемаме разумни мерки за защита на личните данни от
          непозволен достъп, унищожаване или разкриване.
        </p>
      </li>
      <li>
        <h4>Права на потребителите</h4>
        <p>
          Потребителите имат право да поискат достъп до своите лични данни, да
          ги коригират или изтрият, както и да се обърнат към нас със съобщение
          относно упражняването на техните права.
        </p>
      </li>
      <li>
        <h4>Промени в Политиката за поверителност</h4>
        <p>
          Ние си запазваме правото да актуализираме или променяме тази Политика
          за поверителност по всяко време. Всяка промяна ще бъде публикувана на
          този уебсайт.
        </p>
      </li>
    </ol>
    <hr />
    <p>
      Тази Политика за поверителност е валидна от [въведете датата]. Ако имате
      въпроси или нужда от допълнителна информация относно обработката на вашите
      лични данни, моля, свържете се с нас на [вашия контактен имейл].
    </p>
  </div>
</section>
