.custom-field-select {
  position: relative;
  font-size: 14px;
  border-top: 20px solid transparent;
  margin-bottom: 5px;
  display: inline-block;
  --field-padding: 12px;
}

.custom-field-select select {
  z-index: 1;
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #f2f2f2;
  padding: var(--field-padding);
  border-radius: 3px;
  width: 250px;
  outline: none;
  font-size: 14px;
  height: 50px; /* Manage Input Height */
}

.custom-field-select .placeholder-select {
  position: absolute;
  left: var(--field-padding);
  width: calc(100% - (var(--field-padding) * 2));
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 100%;
  top: 50%;
  transform: translateY(-50%);
  /* ======= Never Delete! ======= */
  pointer-events: none; /* ============ Never the target, allow to click through! ============ */
  color: #aaa;
  transition: top 0.2s linear, color 0.2s linear, font-size 0.2s linear;
}

.custom-field-select select.dirty + .placeholder-select,
.custom-field-select select:focus + .placeholder-select,
.custom-field-select select:not(:placeholder-shown) + .placeholder-select {
  top: -10px;
  font-size: 10px;
  color: #007bff;
}

.custom-field-select select {
  background: none;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease;
}

.custom-field-select select + .placeholder-select {
  left: 8px;
  padding: 0 5px;
}

.custom-field-select select.dirty,
.custom-field-select select:not(:placeholder-shown),
.custom-field-select select:focus {
  border-color: #007bff;
  transition-delay: 0.1s;
}

.custom-field-select select.dirty + .placeholder-select,
.custom-field-select select:not(:placeholder-shown) + .placeholder-select,
.custom-field-select select:focus + .placeholder-select {
  top: 0;
  font-size: 10px;
  color: #007bff;
  background: #fff;
  width: auto;
}

/* Error Rules */
.custom-field-select select.ng-invalid {
  border-color: red; /* Change the border color to red for invalid fields */
}

.custom-field-select select.ng-invalid + .placeholder-select {
  color: red; /* Change the placeholder color to red for invalid fields */
}

/* Disabled */
.custom-field-select select:disabled {
  color: gray; /* Apply gray style to the Input text when input is disabled */
  border-color: gray; /* Change the border color to red for invalid fields */
  border-style: dashed;
}

.custom-field-select select:disabled + .placeholder-select {
  color: gray; /* Apply gray style to the Paceholder text when input is disabled */
}

/* Cursor Text */
.cursor-text {
  cursor: text; /* Default Input Cursor Style While Hover */
}
