<section class="container">
  <h4 class="ml-2 my-3">Известия</h4>
  <mat-divider class="py-2"></mat-divider>

  <div>
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="ms-2 my-3">Имейл <i class="fas fa-envelope"></i></h4>
      <mat-slide-toggle [(ngModel)]="settings.allowEmailNotification">
        <span *ngIf="settings.allowEmailNotification">Включено</span>
        <span *ngIf="!settings.allowEmailNotification">Изключено</span>
      </mat-slide-toggle>
    </div>

    <mat-divider></mat-divider>
    <div style="background-color: #f6f6f6;" class="p-3">
      <p style="font-size: small" class="text-muted">
        Ако активирате имейл уведомления, ще получавате електронни съобщения за вашите резервации директно във вашия
        имейл.
      </p>
      <div class="d-flex justify-content-between align-items-center">
        <mat-form-field class="w-100 mt-2">
          <mat-label>Имейл за получаване на известия</mat-label>
          <input matInput placeholder="Имейл" name="name" formControlName="name" value="ademcran4aliew@gmail.com" />
        </mat-form-field>
      </div>
    </div>

  </div>

  <div>
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="ms-2 my-3">Вайбър <i class="fab fa-viber"></i></h4>
      <mat-slide-toggle [(ngModel)]="settings.allowViberNotification">
        <span *ngIf="settings.allowViberNotification">Включено</span>
        <span *ngIf="!settings.allowViberNotification">Изключено</span>
      </mat-slide-toggle>
    </div>

    <mat-divider></mat-divider>
    <div style="background-color: #f6f6f6;" class="p-3">

      <p style="font-size: small" class="text-muted">
        Ако активирате вайбър уведомления, ще получавате електронни съобщения за вашите резервации директно във вашия
        вайбър.
      </p>
      <h6 class="text-success" *ngIf="settings.isViberSetUp">Вашият профил беше успешно свързан със Viber профила ви.
      </h6>
      <button mat-stroked-button color="primary" (click)="openDialog()" *ngIf="!settings.isViberSetUp">
        Свържи с Вайбър
      </button>
    </div>
  </div>

  <div class="text-right m-4">
    <button (click)="saveChanges()" type="button" mat-raised-button color="primary">
      Запази промени
    </button>
  </div>
</section>