<section class="container">
  <h4 class="ms-2 my-3">Вайбър</h4>
  <article>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo magnam iste
      consectetur. Quo facere voluptates eos quibusdam adipisci architecto
      possimus velit fugiat sapiente voluptas repellat blanditiis repudiandae
      atque hic unde labore aut, debitis cumque expedita totam ratione commodi
      eveniet. Fuga.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo magnam iste
      consectetur. Quo facere voluptates eos quibusdam adipisci architecto
      possimus velit fugiat sapiente voluptas repellat blanditiis repudiandae
      atque hic unde labore aut, debitis cumque expedita totam ratione commodi
      eveniet. Fuga.
    </p>
  </article>
  <article>
    <button (click)="openDialog()" class="btn btn-primary">
      Регистрация във вайбър
    </button>
  </article>

  <div class="text-right m-4">
    <button type="submit" mat-raised-button color="primary">
      Запази промени
    </button>
    &nbsp;
    <button mat-stroked-button color="primary">Отказ</button>
  </div>
</section>
