<section class="container">
  <h4 class="ml-2 my-3">Известия</h4>
  <mat-divider class="py-2"></mat-divider>

  <div>
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="ms-2 my-3">
        <i class="fas fa-envelope gmail-icon"></i> Имейл
      </h4>
      <mat-slide-toggle [(ngModel)]="settings.allowEmailNotification">
        <span *ngIf="settings.allowEmailNotification">Включено</span>
        <span *ngIf="!settings.allowEmailNotification">Изключено</span>
      </mat-slide-toggle>
    </div>

    <mat-divider></mat-divider>
    <div style="background-color: #f6f6f6" class="p-3">
      <p style="font-size: small" class="text-muted">
        Ако активирате имейл уведомления, ще получавате електронни съобщения за
        вашите резервации директно във вашият имейл.
      </p>
      <div>
        <form [formGroup]="notificationForm">
          <label class="custom-field w-100 mt-2">
            <input class="w-100" placeholder=" " name="email" formControlName="email" />
            <span class="placeholder cursor-text">
              Имейл за получаване на известия
            </span>
          </label>
        </form>
      </div>
    </div>
  </div>

  <div>
    <div class="d-flex justify-content-between align-items-center">
      <h4 class="ms-2 my-3"><i class="fab fa-viber viber-icon"></i> Вайбър</h4>
      <mat-slide-toggle [(ngModel)]="settings.allowViberNotification">
        <span *ngIf="settings.allowViberNotification">Включено</span>
        <span *ngIf="!settings.allowViberNotification">Изключено</span>
      </mat-slide-toggle>
    </div>

    <mat-divider></mat-divider>
    <div style="background-color: #f6f6f6" class="p-3">
      <p style="font-size: small" class="text-muted pb-2">
        Ако активирате вайбър уведомления, ще получавате съобщения за вашите
        резервации директно във вашият вайбър.
      </p>

      <article class="row justify-content-between align-items-center pb-3">
        <p style="font-size: small" class="col-md-9 text-muted">
          За да активирате личният Ви вайбър чат бот, за да получавате известия
          за вашите резервации, първо сканирайте във вайбър QR кода или
          <a (click)="openViberLink()" class="text-primary cursor-pointer">
            НАТИСНЕТЕ ТУК
          </a>
          за да се свържете.
        </p>
        <article class="col-md-3 text-center">
          <img src="assets/images/viber-QR.png" alt="Снимка..." />
        </article>
      </article>

      <p style="font-size: small" class="text-muted">
        След като се свържете с личният Ви чат бот във вайбър, трябва да
        натиснете бутона "Вайбър Код". Ще Ви се отвори прозорец, на който ще
        получите 6 (шест) цифрен код (имате 3 минути да поставите кода, ако не
        успеете, системата автоматично ще генерира нов код), този код трябва да
        го поставите във вайбър чата, за се установи, че това сте Вие. След това
        системата ще Ви активира и ще започнете да получавате съобщения, след
        успешно направени резервации.
      </p>

      <h6 class="text-success" *ngIf="settings.isViberSetUp">
        Вашият профил беше успешно свързан с Viber профила Ви.
      </h6>
      <button mat-stroked-button color="primary" (click)="openDialog()" *ngIf="!settings.isViberSetUp">
        Вайбър Код
      </button>
    </div>
  </div>

  <div class="text-right m-4">
    <button (click)="saveChanges()" type="button" mat-raised-button color="primary">
      Запази промени
    </button>
  </div>
</section>