<section class="ftco-section mt-0 pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-1">
        <h2 class="heading-section salon-name-decoration animation-onload">
          Barber Shop Memo
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="content w-100">
          <!-- Calendar -->
          <div class="calendar-container margin-b">
            <div class="calendar">
              <div class="year-header">
                <span
                  class="left-button fa fa-chevron-left"
                  id="prev"
                  (click)="prevYear()"
                >
                </span>
                <span class="year" id="label"></span>
                <span
                  class="right-button fa fa-chevron-right"
                  id="next"
                  (click)="nextYear()"
                >
                </span>
              </div>
              <table class="months-table w-100">
                <tbody>
                  <tr class="months-row">
                    <td class="month" [ngClass]="{'active-month': this.date.getMonth()==i}" *ngFor='let month of monthStrings; let i=index' id="i" (click)="monthClick(i)">{{month}}</td>

                  </tr>
                </tbody>
              </table>

              <div>
                <div class="row header">
                  <div *ngFor="let day of weekDays" class="col day text-center">
                    {{ day }}
                  </div>
                </div>

                <div class="frame">
                  <table class="dates-table w-100">
                    <tbody class="tbody">
                      <tr *ngFor="let row of calendarRows" class="table-row">
                        <ng-container *ngFor="let day of row">
                          <td
                            id="day-{{ day }}"
                            class="table-date text-primary"
                            [class.nil]="day === -1"
                            [class.active-date]="day === date.getDate()"
                            (click)="dateClick(day)"
                          >
                            {{ day > 0 ? day : '' }}
                          </td>
                        </ng-container>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <!-- Tabs -->
          <div class="events-container" *ngIf="!loader">
            <ul class="nav nav-tabs" style="background-color: white !important">
              <li class="nav-item" style="width: 33.33%">
                <p
                  class="nav-link text-center "
                  id="all-res"
                  [ngClass]="{'active': selectedFilter==1, 'not-active-tab': selectedFilter!=1}"
                  (click)="showReservations(1)"
                >
                  Всички
                </p>
              </li>
              <li class="nav-item" style="width: 33.33%">
                <p
                  class="nav-link  text-center"
                  id="free-res"
                  [ngClass]="{'active': selectedFilter==2, 'not-active-tab': selectedFilter!=2}"
                  (click)="showReservations(2)"
                >
                  Свободни
                </p>
              </li>
              <li class="nav-item" style="width: 33.33%">
                <p
                  class="nav-link text-center"
                  [ngClass]="{'active': selectedFilter==3, 'not-active-tab': selectedFilter!=3}"
                  id="busy-res"
                  (click)="showReservations(3)"
                >
                  Заети
                </p>
              </li>
            </ul>

            <div
              class="alert alert-warning m-4"
              role="alert"
              *ngIf="bookings.length == 0 && !isDayPast"
            >
              Все още няма заети часове за {{ this.date.getDate() }}
              {{ date.toLocaleString('bg-BG', { month: 'long' }) }} {{ date.getFullYear() }}г.
            </div>
            <div class="alert alert-info m-4" role="alert" *ngIf="isDayPast">
              Тази дата е минала и нямате право на действия.
            </div>
            <div
              class="alert alert-danger m-4"
              role="alert"
              *ngIf="currentDay && !currentDay?.isWorking && !isDayPast"
            >
              ПОЧИВЕН ДЕН
            </div>

            <!-- Display Hours -->
            <div
              class="event-card"
              *ngFor="let booking of bookings"
              [ngClass]="{ 'primary-background': !booking.free }"
            >
              <div *ngIf="!booking.free">
                <!-- <div class="row">
                  <i
                    class="fa ml-1 col-1"
                    style="cursor: pointer"
                    data-toggle="modal"
                    data-target="#exampleModalCenter"
                    (click)="openRemoveBookingConfirmation(booking.id)"
                    >&#xf00d;</i
                  >
                  <div class="event-name col-2">
                    ({{ getHour(booking.hour, booking.minutes) }}):
                  </div>
                  <div class="event-count col-4">{{ booking.name }}</div>
                  <div class="event-count col-3">
                    <a href="tel:{{ booking.phone }}">{{ booking.phone }}</a>
                  </div>
                  <div
                    class="event-count col-1"
                    *ngIf="booking.note"
                    style="cursor: pointer"
                    (click)="showModal(booking.id)"
                  >
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                  </div>
                </div> -->

                <mat-accordion>
                  <mat-expansion-panel class="event-expansion-panel" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title class="d-flex justify-content-between">
                        {{ booking.freeHour }} ч.
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>This is the primary content of the panel.</p>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>

              <div *ngIf="booking.free" style="cursor: pointer">
                <!-- <div class="event-name">{{ booking.freeHour }} ч.</div> -->

                <mat-accordion>
                  <mat-expansion-panel class="event-expansion-panel" hideToggle>
                    <mat-expansion-panel-header>
                      <mat-panel-title class="d-flex justify-content-between">
                        {{ booking.freeHour }} ч.
                        <mat-icon (click)="newEvent(booking.freeHour)"
                          >date_range</mat-icon
                        >
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <p>This is the primary content of the panel.</p>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>

          <!-- Edit & Add Apointment Butons -->
          <div class="text-center mb-2">
            <button
              class="button margin-right margin-y"
              (click)="editDay()"
              [disabled]="isDayPast"
            >
              Редактирай
            </button>
            <button
              class="button margin-y"
              (click)="newEvent(null)"
              [disabled]="isDayPast"
            >
              Добави час
            </button>
          </div>

          <!-- Loader -->
          <div
            class="events-container text-primary text-center mt-5"
            *ngIf="loader"
          >
            <div class="spinner-border" role="status">
              <span class="sr-only">Зареждане...</span>
            </div>
          </div>

          <!-- Dialog Util -->
          <div class="dialog" id="dialog">
            <p class="text-center mb-0 mt-2" style="color: black">
              Добави час -
              <b
                >{{ this.date.getDate() }}
                {{ date.toLocaleString('bg-BG', { month: 'long' }) }}
                {{ date.getFullYear() }}г.
              </b>
            </p>

            <form class="form mb-0 mt-0 pb-0 pt-0" id="form">
              <div class="form-container mb-0 mt-0 pb-0 pt-0" align="center">
                <div
                  class="alert alert-danger pb-0 pt-0 mt-0 mb-0"
                  *ngIf="raiseError"
                >
                  Моля попълнете всички полета!
                </div>
                <form class="pl-3 pr-3 mb-0 mt-0 pt-0">
                  <mat-form-field
                    class="example-full-width mb-0 mt-0 pb-0 pt-0"
                  >
                    <label>Име</label>
                    <input
                      style="
                        background-color: white !important;
                        border-bottom-width: 0 !important;
                      "
                      id="name"
                      type="text"
                      matInput
                      [formControl]="nameControl"
                      class="form-control"
                      [matAutocomplete]="auto"
                    />
                    <mat-autocomplete
                      #auto="matAutocomplete"
                      (optionSelected)="onOptionSelected($event)"
                    >
                      <mat-option
                        *ngFor="let option of filteredOptions | async"
                        [value]="option"
                      >
                        {{ option.name }} - {{ option.phone }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <mat-form-field
                    class="example-full-width mb-0 mt-0 pb-0 pt-0"
                  >
                    <label>Телефон</label>
                    <input
                      style="
                        background-color: white !important;
                        border-bottom-width: 0 !important;
                      "
                      id="phone"
                      type="text"
                      matInput
                      [formControl]="phoneControl"
                      class="form-control"
                      [matAutocomplete]="auto2"
                    />
                    <mat-autocomplete
                      #auto2="matAutocomplete"
                      (optionSelected)="onOptionSelected($event)"
                    >
                      <mat-option
                        *ngFor="let option of filteredPhoneOptions | async"
                        [value]="option"
                      >
                        {{ option.name }} - {{ option.phone }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                </form>

                <div class="form-group pl-3 pr-3">
                  <p class="text-left pb-0 mb-0">Продължителност</p>
                  <select
                    class="form-control"
                    id="selectedDuration"
                    [(ngModel)]="selectedDuration"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <option value="1">30 мин. - продължителност</option>
                    <option value="2">1 час - продължителност</option>
                    <option value="3">1:30 часа - продължителност</option>
                    <option value="4">2 часа - продължителност</option>
                    <option value="5">2:30 часа - продължителност</option>
                    <option value="6">3 часа - продължителност</option>
                    <option value="7">3:30 часа - продължителност</option>
                    <option value="8">4 часа - продължителност</option>
                    <option value="9">4:30 часа - продължителност</option>
                    <option value="10">5 часа - продължителност</option>
                    <option value="11">5:30 часа - продължителност</option>
                    <option value="12">6 часа - продължителност</option>
                    <option value="13">6:30 часа - продължителност</option>
                    <option value="14">7 часа - продължителност</option>
                  </select>
                </div>
                <div class="form-group pl-3 pr-3">
                  <p class="text-left pb-0 mb-0">Избери час</p>
                  <select
                    class="form-control"
                    id="exampleFormControlSelect1"
                    [(ngModel)]="selectedHour"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <option></option>
                    <option
                      *ngFor="let hour of generateHourArray()"
                      value="{{ hour }}"
                      [disabled]="checkIfBookingExist(hour)"
                    >
                      {{ hour }}
                    </option>
                  </select>
                </div>
                <div class="form-group pl-3 pr-3">
                  <p class="text-left pt-0 pb-0 mt-0 mb-0">Забележка</p>
                  <mat-form-field
                    class="example-full-width mb-0 mt-0 pb-0 pt-0"
                  >
                    <input
                      style="
                        background-color: white !important;
                        border-bottom-width: 0 !important;
                      "
                      id="note"
                      type="text"
                      matInput
                      [formControl]="noteControl"
                      class="form-control"
                    />
                  </mat-form-field>
                </div>
                <input
                  type="button"
                  value="Отказ"
                  class="button mr-3"
                  id="cancel-button"
                  (click)="cancelEvent(1)"
                />
                <input
                  type="button"
                  value="Добави"
                  class="button button-white"
                  id="ok-button"
                  (click)="bookHour()"
                />
              </div>
            </form>
          </div>

          <div class="dialog" id="dialog2">
            <p class="text-center mb-0 mt-2" style="color: black">
              ПРОМЕНИ ДЕН -
              <b
                >{{ this.date.getDate() }}
                {{ date.toLocaleString('bg-BG', { month: 'long' }) }}
                {{ date.getFullYear() }}г.
              </b>
            </p>

            <form class="form mb-0 mt-0 pb-0 pt-0" id="form">
              <div class="form-container mb-0 mt-0 pb-0 pt-0" align="center">
                <div
                  class="alert alert-danger pb-0 pt-0 mt-0 mb-0"
                  *ngIf="workingDayAddError == 1"
                >
                  Началото на работния ден, не може да бъде по-голямо от края!
                </div>

                <div class="form-group pl-3 pr-3">
                  <p class="text-left pb-0 mb-0">Работен ден - начало</p>
                  <select
                    class="form-control"
                    id="selectedStartHour"
                    [(ngModel)]="selectedStartHour"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <option
                      value="{{ i }}"
                      *ngFor="let hour of generateHourArray(); let i = index"
                    >
                      {{ hour }}
                    </option>
                  </select>
                </div>
                <div class="form-group pl-3 pr-3">
                  <p class="text-left pb-0 mb-0">Работен ден - край</p>
                  <select
                    class="form-control"
                    id="selectedEndHour"
                    [(ngModel)]="selectedEndHour"
                    [ngModelOptions]="{ standalone: true }"
                  >
                    <option
                      value="{{ i }}"
                      *ngFor="let hour of generateHourArray(); let i = index"
                    >
                      {{ hour }}
                    </option>
                  </select>
                </div>

                <input
                  type="button"
                  value="Отказ"
                  class="button mr-3"
                  id="cancel-button"
                  (click)="cancelEvent(2)"
                />
                <input
                  type="button"
                  value="Редактирай"
                  class="button button-white"
                  id="ok-button"
                  (click)="addDaySpecifications()"
                />

                <!-- <input type="button" value="ПОЧИВЕН ДЕН" class="btn btn-danger w-75 mt-3 text-center"
                                    id="ok-button" (click)='showHolidayDayModal()'> -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Изтриване</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Сигурни ли сте, че искате да изтриете тази резервация?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Отказ
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="removeBooking()"
        >
          Потвърди
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalNote"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalNote"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNote">
          Забележка - {{ noteModal?.name }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>{{ noteModal?.note }}</h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Затвори
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="modalCancel"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalCancel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalNote">
          Почивен ден - {{ date.getDate() }}.{{ date.getMonth() }}.{{
            date.getFullYear()
          }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h4>Всички часове в този ден ще бъдат отменени.</h4>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
          (click)="cancelDay()"
        >
          ПОТВЪРДИ
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Затвори
        </button>
      </div>
    </div>
  </div>
</div>
