.user-home-container {
  margin-top: 100px;
}

.statistics-card {
  transition: transform 0.2s ease-in-out;
}

.statistics-card:hover {
  transform: translateY(-3px);
}

.icons {
  font-size: 30px;
}

.fs-34 {
  font-size: 34px;
}

.custom-shadow {
  box-shadow: 0px 4px 8px 0px #7986cb;
}

.light-lightseagreen {
  color: lightseagreen;
}
