<section class="user-home-container p-5">
  <!-- ====== Normal User ====== -->

  <article class="row justify-content-center p-1">
    <article class="col-md-3 col-sm-12">
      <h5>ДЕЙНОСТИ</h5>
    </article>
    <article class="col-3"></article>
    <article class="col-3"></article>
  </article>

  <article class="row justify-content-center my-4">
    <article
      class="col-md-4 col-sm-6 border custom-shadow rounded py-3 mx-2 my-2 statistics-card cursor-pointer"
      (click)="navigate('pre-booking')"
    >
      <div class="row align-items-center py-4">
        <div class="col-8">
          <h5 class="mt-0 text-primary">Направи резервация</h5>
        </div>
        <div class="col-4 text-center">
          <i class="fas fa-handshake icons text-primary"></i>
        </div>
      </div>
    </article>
    <article
      class="col-md-4 col-sm-6 border custom-shadow rounded py-3 mx-2 my-2 statistics-card cursor-pointer"
      (click)="navigate('upcoming')"
    >
      <div class="row align-items-center">
        <div class="col-8">
          <h5 class="mb-0 fs-34 light-blue">51</h5>
          <h5 class="mt-0 light-blue">Предстоящи резервации</h5>
        </div>
        <div class="col-4 text-center">
          <i class="fas fa-users icons light-blue"></i>
        </div>
      </div>
    </article>
  </article>
</section>
