.user-upcoming-container {
  margin-top: 100px;
}

.fixed-layout {
  table-layout: fixed;
}

.fixed-layout th,
.fixed-layout td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ms-10 {
  margin-left: 25px;
}

.businessProfile {
  max-width: 38px;
  border-radius: 100%;
}

.custom-shadow {
  box-shadow: 0px 4px 8px 0px #7986cb;
}