<div class="swiper-parent-container">
  <div class="swiper-container w-100" #swiper>
    <div class="swiper-wrapper">
      <div
        class="swiper-slide rounded"
        *ngFor="let day of days"
        [ngClass]="{
          'current-day': isCurrentDay(day.date),
          'past-day': day.isDisabled
        }"
        (click)="loadFreeHours(day)"
      >
        <!-- Make te container smaller -->
        <div class="day-item">{{ day.date | date : 'dd' }}</div>
        <div>{{ day.date | date : 'EEEE' | slice : 0 : 3 }}</div>
      </div>
    </div>

    <!-- Navigation buttons -->
    <div>
      <div class="swiper-button-prev rounded" (click)="prevSlide()"></div>
      <div class="swiper-button-next rounded" (click)="nextSlide()"></div>
    </div>
  </div>
</div>
