<div class="swiper-parent-container">
  <div class="swiper-container" #swiper>
    <div class="swiper-wrapper">
      <div class="swiper-slide rounded" *ngFor="let day of days" [ngClass]="{
          'current-day': isCurrentDay(day.date),
          'past-day': day.isDisabled
        }" (click)="loadFreeHours(day)">
        <div class="day-item-number">{{ day.date | date : 'dd' }} <span style="font-size: small;">{{ day.month | slice :
            0 : 3 | uppercase }}</span> </div>
        <div class="d-flex">
          <span>{{ day.date | date : 'EEEE' | slice : 0 : 3 | uppercase }}</span>
        </div>
      </div>
    </div>

    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>

    <!-- Navigation buttons -->
    <div class="sw-buttons-container w-100">
      <div class="swiper-button-prev rounded" (click)="prevSlide()"></div>
      <div class="swiper-button-next rounded" (click)="nextSlide()"></div>
    </div>
  </div>
</div>