<div class="form-block">
  <div class="mb-4">
    <h3>Регистрация в <strong>BOOOKIT</strong></h3>
    <p class="mb-4"></p>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="isLoginError">
    Грешна парола или имейл
  </div>
  <form [formGroup]="registerForm">
    <div>
      <label class="custom-field w-100 mt-2">
        <input type="text" id="name" class="w-100" placeholder=" " formControlName="name" />
        <span class="placeholder cursor-text">Име</span>
      </label>
      <mat-error *ngIf="
          utilityService.HasError(registerForm, 'name', 'required') &&
          utilityService.IsTouched(registerForm, 'name')
        ">
        Това поле е задължително.
      </mat-error>
    </div>

    <div>
      <label class="custom-field w-100 mt-2">
        <input type="text" id="surname" class="w-100" placeholder=" " formControlName="surname" />
        <span class="placeholder cursor-text">Фамилия</span>
      </label>
      <mat-error *ngIf="
          utilityService.HasError(registerForm, 'surname', 'required') &&
          utilityService.IsTouched(registerForm, 'surname')
        ">
        Това поле е задължително.
      </mat-error>
    </div>

    <div>
      <label class="custom-field w-100 mt-2">
        <input type="email" id="email" class="w-100" placeholder=" " formControlName="email" />
        <span class="placeholder cursor-text">Имейл</span>
      </label>
      <mat-error *ngIf="
          utilityService.HasError(registerForm, 'email', 'required') &&
          utilityService.IsTouched(registerForm, 'email')
        ">
        Това поле е задължително.
      </mat-error>
      <mat-error *ngIf="
          utilityService.HasError(registerForm, 'email', 'email') &&
          utilityService.IsTouched(registerForm, 'email')
        ">
        Моля въведете валиден имейл адрес.
      </mat-error>
    </div>

    <div>
      <label class="custom-field w-100 mt-2">
        <input type="phone" id="phone" class="w-100" placeholder=" " formControlName="phone" />
        <span class="placeholder cursor-text">Телефон</span>
      </label>
      <mat-error *ngIf="
          utilityService.HasError(registerForm, 'phone', 'required') &&
          utilityService.IsTouched(registerForm, 'phone')
        ">
        Това поле е задължително.
      </mat-error>
      <mat-error *ngIf="
          utilityService.HasError(registerForm, 'phone', 'minlength') &&
          utilityService.IsTouched(registerForm, 'phone')
        ">
        Невалиден телефонен номер.
      </mat-error>
    </div>

    <div>
      <label class="custom-field w-100 mt-2">
        <input type="password" id="password" class="w-100" placeholder=" " formControlName="password" />
        <span class="placeholder cursor-text">Парола</span>
      </label>
      <mat-error *ngIf="
          utilityService.HasError(registerForm, 'password', 'required') &&
          utilityService.IsTouched(registerForm, 'password')
        ">
        Това поле е задължително.
      </mat-error>
      <mat-error *ngIf="
          utilityService.HasError(registerForm, 'password', 'minLength') &&
          utilityService.IsTouched(registerForm, 'password')
        ">
        Паролата, трябва да бъде поне 3 символа.
      </mat-error>
    </div>

    <div>
      <label class="custom-field w-100 mt-2">
        <input type="password" id="confirmPassword" class="w-100" placeholder=" " formControlName="confirmPassword" />
        <span class="placeholder cursor-text">Повтори паролата</span>
      </label>
      <mat-error *ngIf="
          registerForm.get('password').hasError('required') &&
          registerForm.get('password').touched
        ">
        Това поле е задължително.
      </mat-error>
      <mat-error> Паролите не съвпадат </mat-error>
    </div>

    <div class="d-flex mb-1 mt-3 align-items-center">
      <mat-checkbox formControlName="acceptPolicy">Регистрирам се като бизнес</mat-checkbox>
      <mat-error *ngIf="
          utilityService.HasError(registerForm, 'acceptPolicy', 'required') &&
          utilityService.IsTouched(registerForm, 'privacyPolicy')
        ">
        Това поле е задължително.
      </mat-error>
    </div>
    <div class="d-flex mb-4 mt-1 align-items-center">
      <mat-checkbox formControlName="acceptPolicy">Приемам политиките за поверителност</mat-checkbox>
      <mat-error *ngIf="
          utilityService.HasError(registerForm, 'acceptPolicy', 'required') &&
          utilityService.IsTouched(registerForm, 'privacyPolicy')
        ">
        Това поле е задължително.
      </mat-error>
    </div>
    <a (click)="onSubmit()" class="btn btn-pill text-white btn-block btn-primary cursor-pointer">
      РЕГИСТРАЦИЯ
    </a>

    <span class="d-block text-center my-4 text-muted">
      или се регистрирайте с</span>
    <div class="social-login text-center">
      <!-- <a href="#" class="facebook mr-4">
        <span class="mr-3"><i class="fa fa-facebook" aria-hidden="true"></i></span>
      </a>
      <a href="#" class="twitter mr-4">
        <span class="icon-twitter mr-3"><i class="fa fa-apple" aria-hidden="true"></i>
        </span>
      </a> -->
      <a href="#" class="google">
        <span class="icon-google mr-3">
          <i class="fa-brands fa-google"></i>
        </span>
      </a>
    </div>
  </form>
</div>