<nav class="navbar navbar-light bg-light justify-content-between">
    <!-- <a class="navbar-brand" href="#">{{getNameEmployee()}}</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Всички потребители (ОЧАКВАЙ СКОРО)</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ИЗХОД</a>
            </li>
        </ul>
    </div>
</nav>

<div>
    <h3 class="text-center py-3">ВСИЧКИ ПОТРЕБИТЕЛИ</h3>
    <div class="container">
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let user of users" [value]="user.phoneNumber" [routerLink]="['/user', 1]">
                <span class="pt-2 mt-2" style='font-size: large; line-height: 85%;'>
                    {{user.fullName}}</span>
                <span class="text-muted mb-2 pb-2" style='font-size: small;'>{{ user.phoneNumber }}</span>

                <mat-divider></mat-divider>
            </mat-list-option>
        </mat-selection-list>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</div>