<div class="row justify-content-between step-back-btn">
    <div class="col-4">
        <button *ngIf="showButton" matStepperPrevious mat-raised-button>
            <mat-icon>arrow_back</mat-icon> Назад
        </button>
    </div>

    <div class="col-6 pt-2">
        <h6 matTooltip="{{facilityInformation?.name}}">
            {{ facilityInformation?.name | truncate: truncationLength }}
        </h6>
    </div>

    <ng-container *ngIf="facilityInformation?.imageBase64">
        <div class="col-2">
            <img class="company-logo-image img-fluid rounded-circle" src="{{ facilityInformation?.imageBase64 }}"
                alt="..." />
        </div>
    </ng-container>

    <ng-container *ngIf="!facilityInformation?.imageBase64">
        <article class="col-2">
            <img class="company-logo-image img-fluid" src="assets/images/default-user.png" alt="..." />
        </article>
    </ng-container>
</div>