<section class="ftco-section mt-0 pt-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-1">
                <h2 class="heading-section">Barber Shop Memo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="content w-100">
                    <div class="calendar-container">
                        <div class="calendar">
                            <div class="year-header">
                                <span class="left-button fa fa-chevron-left" id="prev" (click)='prevYear()'> </span>
                                <span class="year" id="label"></span>
                                <span class="right-button fa fa-chevron-right" id="next" (click)="nextYear()"> </span>
                            </div>
                            <table class="months-table w-100">
                                <tbody>
                                    <tr class="months-row">
                                        <td class="month" id="0" (click)="monthClick(0)">Яну</td>
                                        <td class="month" id="1" (click)="monthClick(1)">Фев</td>
                                        <td class="month" id="2" (click)="monthClick(2)">Мар</td>
                                        <td class="month" id="3" (click)="monthClick(3)">Апр</td>
                                        <td class="month" id="4" (click)="monthClick(4)">Май</td>
                                        <td class="month" id="5" (click)="monthClick(5)">Юни</td>
                                        <td class="month" id="6" (click)="monthClick(6)">Юли</td>
                                        <td class="month" id="7" (click)="monthClick(7)">Авг</td>
                                        <td class="month" id="8" (click)="monthClick(8)">Сеп</td>
                                        <td class="month" id="9" (click)="monthClick(9)">Окт</td>
                                        <td class="month" id="10" (click)="monthClick(10)">Ное</td>
                                        <td class="month" id="11" (click)="monthClick(11)">Дек</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="days-table w-100">
                                <td class="day">Нед</td>
                                <td class="day">Пон</td>
                                <td class="day">Вто</td>
                                <td class="day">Сря</td>
                                <td class="day">Чет</td>
                                <td class="day">Пет</td>
                                <td class="day">Съб</td>
                            </table>
                            <div class="frame">
                                <table class="dates-table w-100">
                                    <tbody class="tbody">
                                        <tr *ngFor="let row of calendarRows" class="table-row">
                                            <ng-container *ngFor="let day of row">
                                                <td class="table-date" [class.nil]="day === -1"
                                                    [class.active-date]="day === date.getDate()"
                                                    (click)="dateClick(day)">
                                                    {{ day > 0 ? day : '' }}
                                                </td>
                                            </ng-container>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <button class="button" id="add-button" (click)='newEvent(null)'>Добави час</button>
                        </div>
                    </div>
                    <div class="events-container">
                        <ul class="nav nav-tabs" style="background-color: white !important;">
                            <li class="nav-item" style="width: 33.33%;">
                                <p class="nav-link active text-center" aria-current="page" id="all-res"
                                    (click)='showReservations(1)'>Всички</p>
                            </li>
                            <li class="nav-item" style="width: 33.33%;">
                                <p class="nav-link not-active-tab text-center" id="free-res"
                                    (click)='showReservations(2)'>Свободни</p>
                            </li>
                            <li class="nav-item" style="width: 33.33%;">
                                <p class="nav-link not-active-tab text-center" id="busy-res"
                                    (click)='showReservations(3)'>Заети</p>
                            </li>
                        </ul>
                        <div class="alert alert-warning m-4" role="alert" *ngIf='bookings.length==0'>
                            Все още няма заети часове за {{this.date.getDate()}} {{months[date.getMonth()]}}
                            {{date.getFullYear()}}г.
                        </div>

                        <div class="event-card" *ngFor='let booking of bookings'
                            [ngClass]="{'primary-background': !booking.free}">
                            <div *ngIf='!booking.free'>
                                <i class="fa ml-1" style="cursor: pointer;" data-toggle="modal"
                                    data-target="#exampleModalCenter"
                                    (click)='openRemoveBookingConfirmation(booking.id)'>&#xf00d;</i>
                                <div class="event-name">({{getHour(booking.hour,booking.minutes)}}):</div>
                                <div class="event-count">{{booking.name}}</div>
                                <div class="event-count"><a href="tel:{{booking.phone}}">{{booking.phone}}</a></div>
                            </div>
                            <div *ngIf='booking.free' (click)="newEvent(booking.freeHour)">
                                <div class="event-name">({{booking.freeHour}}):</div>
                                <div class="event-count">СВОБОДЕН</div>
                            </div>
                        </div>
                    </div>
                    <div class="dialog" id="dialog">
                        <h2 class="dialog-header mb-0 mt-0" style="color: black;"> Добави час</h2>
                        <p class="text-center mb-0 ">{{this.date.getDate()}} {{months[date.getMonth()]}}
                            {{date.getFullYear()}}г.</p>
                        <form class="form mb-0 mt-0 pb-0 pt-0" id="form">
                            <div class="form-container mb-0 mt-0 pb-0 pt-0" align="center">
                                <div class="alert alert-danger pb-0 pt-0 mt-0 mb-0" *ngIf='raiseError'>
                                    Моля попълнете всички полета!
                                </div>
                                <form class="form-group pl-3 pr-3 mb-0 mt-0 pt-0">
                                    <mat-form-field class="example-full-width mb-0 mt-0 pb-0 pt-0">
                                        <label for="name">Име</label>
                                        <input
                                            style="background-color: white !important; border-bottom-width: 0 !important;"
                                            id='name' type="text" matInput [formControl]="nameControl"
                                            class="form-control" [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete"
                                            (optionSelected)="onOptionSelected($event)">
                                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                                {{ option.name }} - {{option.phone}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width mb-0 mt-0 pb-0 pt-0">
                                        <label for="phone">Телефон</label>
                                        <input
                                            style="background-color: white !important; border-bottom-width: 0 !important;"
                                            id='phone' type="text" matInput [formControl]="phoneControl"
                                            class="form-control" [matAutocomplete]="auto2">
                                        <mat-autocomplete #auto2="matAutocomplete"
                                            (optionSelected)="onOptionSelected($event)">
                                            <mat-option *ngFor="let option of filteredPhoneOptions | async"
                                                [value]="option">
                                                {{ option.name }} - {{option.phone}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </form>

                                <div class="form-group pl-3 pr-3">
                                    <label for="selectedDuration" class="d-flex justify-content-start">Избери
                                        продължителност</label>
                                    <select class="form-control" id="selectedDuration" [(ngModel)]="selectedDuration"
                                        [ngModelOptions]="{standalone: true}">
                                        <option value=1>30 мин.</option>
                                        <option value=2>1 час</option>
                                        <option value=3>1:30 часа</option>
                                        <option value=4>2 часа</option>

                                    </select>
                                </div>
                                <div class="form-group pl-3 pr-3">
                                    <label for="exampleFormControlSelect1" class="d-flex justify-content-start">Избери
                                        час</label>
                                    <select class="form-control" id="exampleFormControlSelect1"
                                        [(ngModel)]="selectedHour" [ngModelOptions]="{standalone: true}">
                                        <option></option>
                                        <option *ngFor='let hour of generateHourArray()' value="{{hour}}"
                                            [disabled]='checkIfBookingExist(hour)'>{{hour}}</option>
                                    </select>
                                </div>
                                <input type="button" value="Отказ" class="button mr-3" id="cancel-button"
                                    (click)='cancelEvent()'>
                                <input type="button" value="Добави" class="button button-white" id="ok-button"
                                    (click)='addEvent()'>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Изтриване</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Сигурни ли сте, че искате да изтриете тази резервация?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отказ</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal"
                    (click)='removeBooking()'>Потвърди</button>
            </div>
        </div>
    </div>
</div>